<div class="col page-header mb-4">
  <div class="align-horizontally flex-space-between">
    <h4 id="alerts">Alerts</h4>
    <p class="toggle m-0 p-0">Show Code Snippets
      <label class="switch">
        <input class="snippets-buttons" type="checkbox">
        <span class="slider round"></span>
      </label>
    </p>
  </div>
  <span>
    <div class="alert alert-tip mb-3" role="alert">
      These are Web guidelines. For Android, please refer to the <a class="underline" href="https://material.io/design/typography/the-type-system.html" target="_blank" rel="noopener">Material Design guidelines</a>.
    </div>
  </span>
  <p>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
</div>


<div class="row col-md-12 pt-3 p-0">
  <div class="col-md-6 col-xs-12 mb-4">
    <h5 class="pb-3">Generic</h5>
    <div class="bg-smaller">
      <div class="alert alert-generic" role="alert">
        <button class="btn-close" type="button" aria-label="Close"><span aria-hidden="true">×</span></button>
        <i class="material-icons">info</i> Contact Link created
      </div>
      <div class="arrow_box mt-4">
        <pre class="p-3 prettyprint rb-code code-snippet-2">
.alert {
border-radius: 5px;
padding: 12px;
margin-bottom: 0px;
&-generic {
color: #2E2E2E;
background-color: #FFF1DE;
border-color: transparent;}
}
        </pre>
      </div>
    </div>
    <p class="pt-3">Convey general information or actions that aren’t critical. Update users about a change or give them advice. Include lower priority information and should be dismissible.</p>
  </div>

  <div class="col-md-6 col-xs-12 mb-4">
    <h5 class="pb-3">Success</h5>
    <div class="bg-smaller">
      <div class="alert alert-success" role="alert">
        <i class="material-icons">check</i> Contact Link created
      </div>
      <div class="arrow_box mt-4">
        <pre class="p-3 prettyprint rb-code code-snippet-2">
.alert {
border-radius: 5px;
padding: 12px;
margin-bottom: 0px;
&-success {
color: #2E2E2E;
background-color: #B4E76F;
border-color: transparent;}
}
        </pre>
      </div>
    </div>
    <p class="pt-3">Inform users when actions are successfully completed.</p>
  </div>
</div>

<div class="row col-md-12 pt-3 p-0">
  <div class="col-md-6 col-xs-12 mb-4">
    <h5 class="pb-3">Warning</h5>
    <div class="bg-smaller">
      <div class="alert alert-warning" role="alert">
        <i class="material-icons orange-icon">warning</i> Do not share this information with anyone!
      </div>
      <div class="arrow_box mt-4">
        <pre class="p-3 prettyprint rb-code code-snippet-2">
.alert {
border-radius: 5px;
padding: 12px;
margin-bottom: 0px;
&-warning {
color: #1F1F1F;
background-color: #FED69F;
border-color: transparent;}
}
        </pre>
      </div>
    </div>
    <p class="pt-3">Convey general information or actions that aren’t critical. Update users about a change or give them advice. Include lower priority information and should be dismissible.</p>
  </div>

  <div class="col-md-6 col-xs-12 mb-4">
    <h5 class="pb-3">Error</h5>
    <div class="bg-smaller">
      <div class="alert alert-error" role="alert">
        <button class="btn-close" type="button" aria-label="Close"><span aria-hidden="true">×</span></button>
        <i class="material-icons red-icon">error</i> Oops. Something went wrong.
      </div>
      <div class="arrow_box mt-4">
        <pre class="p-3 prettyprint rb-code code-snippet-2">
.alert {
border-radius: 5px;
padding: 12px;
margin-bottom: 0px;
&-error {
color: #FFFFFF;
background-color: #DB3B21;
border-color: transparent;}
}
        </pre>
      </div>
    </div>
  </div>
</div>

<div class="row col-md-12 pt-3 p-0">
  <div class="col-md-6 col-xs-12 mb-4">
    <h5 class="pb-3">Tip</h5>
    <div class="bg-smaller">
      <div class="alert alert-tip" role="alert">
        For Android, please refer to the <a class="underline" href="https://material.io/design/typography/the-type-system.html" target="_blank" rel="noopener">Material Design guidelines</a>.
      </div>
      <div class="arrow_box mt-4">
        <pre class="p-3 prettyprint rb-code code-snippet-2">
.alert {
border-radius: 5px;
padding: 12px;
margin-bottom: 0px;
&-error {
color: #2E2E2E;
background-color: #E4F0FB;
border-color: transparent;}
}
        </pre>
      </div>
    </div>
    <p class="pt-3">Give a tip and contextual information helpful for the user.</p>
  </div>
</div>
