h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif !important !important;
}

h1 {
  font-size: 96px !important;
  font-weight: 300 !important;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 60px !important;
  font-weight: 300 !important;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 48px !important;
  font-weight: normal !important;
  letter-spacing: 0px;
}

h4 {
  font-size: 34px !important;
  font-weight: normal !important;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px !important;
  font-weight: normal !important;
  letter-spacing: 0px;
}

h6 {
  font-size: 20px !important;
  font-weight: medium !important;
  letter-spacing: 0.15px;
}

.subtitle-1 {
  font-size: 16px !important;
  font-weight: normal !important;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  font-size: 14px !important;
  font-weight: medium !important;
  letter-spacing: 0.1px;
}

.body-2 {
  font-size: 16px !important;
  font-weight: normal !important;
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: 14px !important;
  font-weight: normal !important;
  letter-spacing: 0.25px;
}

.flexing {
  display: flex;
  align-items: center;
}

.button {
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 1.25px;
}

.caption {
  font-size: 12px !important;
  font-weight: normal !important;
  letter-spacing: 0.4px;
}

.overline {
  font-size: 10px !important;
  font-weight: normal !important;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.text-muted {
  color: var(--muted) !important;
}

.nav-link {
  color: var(--navtop-color) !important;
}

.nav-link:hover {
  color: var(--navtop-hover) !important;
}

.hero-header .h3 {
  color: var(--header-text);
}

.hero-header .h4 {
  color: var(--header-text);
}

.navbar-wide-logo {
  padding: 2.5rem 0rem;
  text-align: center;
  background-color: var(--logo-bg) !important;
  background: var(--logo);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.hero-header {
  text-align: center;
  height: 320px;
  background: var(--header-svg);
  background-repeat: repeat;
  background-position: center;
}

.sidebar {
  height: 100%;
  width: 16.666667%;
  background-color: var(--sidebar-bg);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar .material-icons {
  letter-spacing: 10px;
  float: left;
}

.sidebar .list-group-item {
  background-color: transparent !important;
  border: 0;
  border-bottom: 1px solid !important;
  border-color: var(--border) !important;
  border-radius: 0 !important;
  font-size: .875rem;
  font-weight: 600 !important;
  padding: 1rem 1.1rem !important;
}

.stick-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.stick-bottom > .list-group-item {
  border-bottom: none !important;
}

@media screen and (min-width: 1000px) and (max-height: 800px) {
  .stick-bottom {
    position: relative !important;
  }
}

.image {
  max-height: 180px;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  text-align: center;
}

.list-group-item.inner-sidebar {
  background-color: var(--sidebar-inner-bg) !important;
  color: var(--sidebar-text) !important;
  padding: 1rem 0rem 1rem 3.3rem !important;
}

.list-group-item.inner-sidebar:hover {
  color: var(--hover) !important;
  background-color: var(--hover-bg) !important;
}

.sidebar__link__darkGray {
  color: var(--sidebar-text) !important;
}

.sidebar__link__darkGray:hover {
  color: var(--hover) !important;
  background-color: var(--bg-hover);
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.sidebar__link__darkGray.active {
  color: var(--black) !important;
  background-color: var(--bg-hover) !important;
}

#themer {
  cursor: pointer;
}

.circles {
  border-radius: 50% !important;
  width: 55px;
  height: 55px;
}

.row {
  margin: auto !important;
}

.rp-navbar__top {
  background-color: var(--navbar-bg);
}

.rb-contain {
  height: auto;
  max-height: 100%;
}

.max-width-150 {
  max-width: 150px;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-18 {
  padding-top: 18px;
}

.align-horizontally {
  display: flex;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.hidden-sm {
  display: block;
}

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
  .hero-header {
    height: auto !important;
  }
}

.list-group-item:focus *,
.list-group-item:hover * {
  color: var --hover;
}

.list-group-item.active {
  color: var(--hover) !important;
  background-color: var(--sidebar-bg) !important;
}

.curved {
  border-radius: 10px;
  width: 75px;
  height: 75px;
  display: inline-block;
  vertical-align: bottom;
}

.break {
  word-break: break-all;
}

.bg {
  padding: 35px 50px;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-box {
  padding: 35px 20px;
  border: 1px solid var(--box);
  background: var(--box-bg);
  box-sizing: border-box;
}

.bg-buttons {
  padding: 35px 20px;
  border: 1px solid var(--box);
  background: transparent;
  box-sizing: border-box;
}

.bg-smaller {
  padding: 60px 15px;
  border: 1px solid var(--box);
  background: var(--box-bg);
  box-sizing: border-box;
}

.bg-smallest {
  padding: 20px;
  border: 1px solid var(--box);
  background: var(--box-bg);
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .navbar {
    display: none !important;
  }
}

table {
  width: 100%;
  overflow: scroll;
}

table, th, td {
  border: 1px solid #707070;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.overflow {
  overflow: auto;
}

span {
  display: inline-block;
}

.inverted {
  color: #ffffff !important;
}

.f-small {
  text-transform: lowercase;
}

.color-details--section {
  color: #2E2E2E;
}

.color-details--section > .bold {
  color: var(--text) !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: var(--text) !important;
  text-align: left;
  list-style: none;
  background-color: var(--body) !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: var(--sidebar-bg) !important;
}

.dropdown-item {
  color: var(--text) !important;
}

.colors:first-child .color-overview {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.colors:last-child .color-overview {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.colors:last-child:hover .color-overview {
  border-bottom-left-radius: 0;
}

.colors .color-overview {
  transition: .1s linear;
  display: flex;
}

.colors .color-overview .variable {
  flex-grow: 2;
  color: #2E2E2E;
}

.colors .color-overview .hex {
  transition: .15s linear;
  opacity: 0;
  color: #2E2E2E;
}

.colors .color-details {
  display: none;
  flex-wrap: wrap;
}

.colors .color-details .color-details--section {
  flex-grow: 2;
  flex-basis: 50%;
}

.colors .color-details .color-details--section .pass {
  color: #53830E;
}

.colors .color-details .color-details--section .fail {
  color: #DB3B21;
}

.colors .color-priority {
  height: 128px;
}

.colors:hover .color-overview {
  margin: 0 -8px 0 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: .15s linear;
}

.colors:hover > .color-details {
  display: flex;
}

.palette:hover .color-priority {
  height: auto;
}

.palette:hover .hex {
  opacity: 1;
}

.color {
  height: 100px;
}

.grid {
  height: 100px;
  background-color: var(--primary);
  border-radius: 7px;
}

.grid span {
  margin: 10px 10px 10px 10px;
  color: white;
}

.icon {
  font-size: 20px;
  background-color: #DFDFDF;
  padding: 20px;
}

.alert {
  border-radius: 5px !important;
  padding: 12px !important;
  margin-bottom: 0px !important;
}

.alert a {
  color: inherit !important;
}

.alert a:hover {
  color: inherit !important;
}

.alert-generic {
  color: var(--text) !important;
  background-color: var(--alert-generic) !important;
  border-color: transparent !important;
}

.alert-tip {
  color: var(--text) !important;
  background-color: var(--alert-tip) !important;
  border-color: transparent !important;
}

.alert-success {
  color: var(--text) !important;
  background-color: var(--alert-success) !important;
  border-color: transparent !important;
}

.alert-warning {
  color: var(--alert-warning-text) !important;
  background-color: var(--alert-warning) !important;
  border-color: transparent !important;
}

.alert-error {
  color: #ffffff !important;
  background-color: #DB3B21 !important;
  border-color: transparent !important;
}

.alert .material-icons {
  margin-right: 4px;
}

.background-primary {
  background-color: var(--primary);
}

.background-secondary {
  background-color: var(--secondary);
}

.background-black {
  background-color: #000000;
}

.background-gray-50 {
  background-color: #FAFAFA;
}

.background-gray-100 {
  background-color: #F2F2F2;
}

.background-gray-200 {
  background-color: #DFDFDF;
}

.background-gray-300 {
  background-color: #CCCCCC;
}

.background-gray-400 {
  background-color: #BABABA;
}

.background-gray-500 {
  background-color: #A7A7A7;
}

.background-gray-600 {
  background-color: #919191;
}

.background-gray-700 {
  background-color: #707070;
}

.background-gray-800 {
  background-color: #4F4F4F;
}

.background-gray-900 {
  background-color: #2E2E2E;
}

.background-gray-950 {
  background-color: #1F1F1F;
}

.border-gray-50 {
  border: 1px solid #FAFAFA;
}

.border-gray-100 {
  border: 1px solid #F2F2F2;
}

.border-gray-200 {
  border: 1px solid #DFDFDF;
}

.border-gray-300 {
  border: 1px solid #CCCCCC;
}

.border-gray-400 {
  border: 1px solid #BABABA;
}

.border-gray-500 {
  border: 1px solid #A7A7A7;
}

.border-gray-600 {
  border: 1px solid #919191;
}

.border-gray-700 {
  border: 1px solid #707070;
}

.border-gray-800 {
  border: 1px solid #4F4F4F;
}

.border-gray-900 {
  border: 1px solid #2E2E2E;
}

.border-gray-950 {
  border: 1px solid #1F1F1F;
}

.background-lime-50 {
  background-color: #EEFBDE;
}

.background-lime-100 {
  background-color: #D1F0A7;
}

.background-lime-200 {
  background-color: #B4E76F;
}

.background-lime-300 {
  background-color: #95DE2D;
}

.background-lime-400 {
  background-color: #82C91E;
}

.background-lime-500 {
  background-color: #74B816;
}

.background-lime-600 {
  background-color: #67A60F;
}

.background-lime-700 {
  background-color: #53830E;
}

.background-lime-800 {
  background-color: #3E620C;
}

.background-lime-900 {
  background-color: #283E0A;
}

.background-lime-950 {
  background-color: #1C2C05;
}

.border-lime-50 {
  border: 1px solid #EEFBDE;
}

.border-lime-100 {
  border: 1px solid #D1F0A7;
}

.border-lime-200 {
  border: 1px solid #B4E76F;
}

.border-lime-300 {
  border: 1px solid #95DE2D;
}

.border-lime-400 {
  border: 1px solid #82C91E;
}

.border-lime-500 {
  border: 1px solid #74B816;
}

.border-lime-600 {
  border: 1px solid #67A60F;
}

.border-lime-700 {
  border: 1px solid #53830E;
}

.border-lime-800 {
  border: 1px solid #3E620C;
}

.border-lime-900 {
  border: 1px solid #283E0A;
}

.border-lime-950 {
  border: 1px solid #1C2C05;
}

.background-blue-50 {
  background-color: #F6FAFE;
}

.background-blue-100 {
  background-color: #E4F0FB;
}

.background-blue-200 {
  background-color: #B8D6F4;
}

.background-blue-300 {
  background-color: #73AFEA;
}

.background-blue-400 {
  background-color: #418CD8;
}

.background-blue-500 {
  background-color: #1F78D1;
}

.background-blue-600 {
  background-color: #1B69B6;
}

.background-blue-700 {
  background-color: #17599C;
}

.background-blue-800 {
  background-color: #134A81;
}

.background-blue-900 {
  background-color: #0F3B66;
}

.background-blue-950 {
  background-color: #0A2744;
}

.border-blue-50 {
  border: 1px solid #F6FAFE;
}

.border-blue-100 {
  border: 1px solid #E4F0FB;
}

.border-blue-200 {
  border: 1px solid #B8D6F4;
}

.border-blue-300 {
  border: 1px solid #73AFEA;
}

.border-blue-400 {
  border: 1px solid #418CD8;
}

.border-blue-500 {
  border: 1px solid #1F78D1;
}

.border-blue-600 {
  border: 1px solid #1B69B6;
}

.border-blue-700 {
  border: 1px solid #17599C;
}

.border-blue-800 {
  border: 1px solid #134A81;
}

.border-blue-900 {
  border: 1px solid #0F3B66;
}

.border-blue-950 {
  border: 1px solid #0A2744;
}

.background-night-50 {
  background-color: #EBF3FA;
}

.background-night-100 {
  background-color: #D1DAE6;
}

.background-night-200 {
  background-color: #B1BFCF;
}

.background-night-300 {
  background-color: #8A9CB3;
}

.background-night-400 {
  background-color: #657D99;
}

.background-night-500 {
  background-color: #435B77;
}

.background-night-600 {
  background-color: #374B61;
}

.background-night-700 {
  background-color: #2E3D4F;
}

.background-night-800 {
  background-color: #212D3B;
}

.background-night-900 {
  background-color: #15212D;
}

.background-night-950 {
  background-color: #0E171F;
}

.border-night-50 {
  border: 1px solid #EBF3FA;
}

.border-night-100 {
  border: 1px solid #D1DAE6;
}

.border-night-200 {
  border: 1px solid #B1BFCF;
}

.border-night-300 {
  border: 1px solid #8A9CB3;
}

.border-night-400 {
  border: 1px solid #657D99;
}

.border-night-500 {
  border: 1px solid #435B77;
}

.border-night-600 {
  border: 1px solid #374B61;
}

.border-night-700 {
  border: 1px solid #2E3D4F;
}

.border-night-800 {
  border: 1px solid #212D3B;
}

.border-night-900 {
  border: 1px solid #15212D;
}

.border-night-950 {
  border: 1px solid #0E171F;
}

.background-orange-50 {
  background-color: #FFFAF4;
}

.background-orange-100 {
  background-color: #FFF1DE;
}

.background-orange-200 {
  background-color: #FED69F;
}

.background-orange-300 {
  background-color: #FDBC60;
}

.background-orange-400 {
  background-color: #FCA429;
}

.background-orange-500 {
  background-color: #FC9403;
}

.background-orange-600 {
  background-color: #DE7E00;
}

.background-orange-700 {
  background-color: #C26700;
}

.background-orange-800 {
  background-color: #A35200;
}

.background-orange-900 {
  background-color: #853C00;
}

.background-orange-950 {
  background-color: #592800;
}

.border-orange-50 {
  border: 1px solid #FFFAF4;
}

.border-orange-100 {
  border: 1px solid #FFF1DE;
}

.border-orange-200 {
  border: 1px solid #FED69F;
}

.border-orange-300 {
  border: 1px solid #FDBC60;
}

.border-orange-400 {
  border: 1px solid #FCA429;
}

.border-orange-500 {
  border: 1px solid #FC9403;
}

.border-orange-600 {
  border: 1px solid #DE7E00;
}

.border-orange-700 {
  border: 1px solid #C26700;
}

.border-orange-800 {
  border: 1px solid #A35200;
}

.border-orange-900 {
  border: 1px solid #853C00;
}

.border-orange-950 {
  border: 1px solid #592800;
}

.background-red-50 {
  background-color: #FEF6F5;
}

.background-red-100 {
  background-color: #FBE5E1;
}

.background-red-200 {
  background-color: #F2B4A9;
}

.background-red-300 {
  background-color: #EA8271;
}

.background-red-400 {
  background-color: #E05842;
}

.background-red-500 {
  background-color: #DB3B21;
}

.background-red-600 {
  background-color: #C0341D;
}

.background-red-700 {
  background-color: #A62D19;
}

.background-red-800 {
  background-color: #8B2615;
}

.background-red-900 {
  background-color: #711E11;
}

.background-red-950 {
  background-color: #4B140B;
}

.border-red-50 {
  border: 1px solid #FEF6F5;
}

.border-red-100 {
  border: 1px solid #FBE5E1;
}

.border-red-200 {
  border: 1px solid #F2B4A9;
}

.border-red-300 {
  border: 1px solid #EA8271;
}

.border-red-400 {
  border: 1px solid #E05842;
}

.border-red-500 {
  border: 1px solid #DB3B21;
}

.border-red-600 {
  border: 1px solid #C0341D;
}

.border-red-700 {
  border: 1px solid #A62D19;
}

.border-red-800 {
  border: 1px solid #8B2615;
}

.border-red-900 {
  border: 1px solid #711E11;
}

.border-red-950 {
  border: 1px solid #4B140B;
}

.color-primary {
  color: #53830E;
}

.color-secondary {
  color: #3E620C;
}

.color-gray-2 {
  color: #919191;
}

.mono {
  font-family: "Roboto Mono", monospace !important;
}

.inter {
  font-family: "Inter", sans-serif !important;
}

.rb-isBold {
  font-weight: bold;
}

.btn-default-primary-big {
  background: var(--default-bg);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 12px 30px !important;
  border: 1px solid transparent;
  border-radius: 2px;
  color: var(--text) !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-default-primary-big:hover {
  background: var(--default-hover);
  color: var(--text) !important;
}

.btn-default-primary-big:active {
  background: var(--default-pressed);
  color: var(--text) !important;
}

.btn-default-primary-big:focus {
  border: 1px solid #1F78D1;
  box-shadow: 0px 0px 2px #1F78D1;
  color: var(--text) !important;
}

.btn-default-primary-big:disabled {
  background: var(--default-disabled);
  color: #CCCCCC !important;
}

.btn-default-primary {
  background: var(--default-bg);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 4px 30px !important;
  border: 1px solid transparent;
  border-radius: 2px;
  color: var(--text) !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-default-primary:hover {
  background: var(--default-hover);
  color: var(--text) !important;
}

.btn-default-primary:active {
  background: var(--default-pressed);
  color: var(--text) !important;
}

.btn-default-primary:focus {
  border: 1px solid #1F78D1;
  box-shadow: 0px 0px 2px #1F78D1;
  color: var(--text) !important;
}

.btn-default-primary:disabled {
  background: var(--default-disabled);
  color: #CCCCCC !important;
}

.btn-primary-big {
  background: #1F78D1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 12px 32px !important;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #ffffff !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-primary-big:hover {
  background: #1B69B6;
  color: #ffffff !important;
}

.btn-primary-big:active {
  background: #134A81;
  color: #ffffff !important;
}

.btn-primary-big:focus {
  border: 1px solid #1F78D1;
  box-shadow: 0px 0px 2px #1F78D1;
  color: #ffffff !important;
}

.btn-primary-big:disabled {
  background: #1F78D1;
  opacity: 0.4;
  color: #ffffff !important;
}

.btn-primary {
  background: #1F78D1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 4px 32px !important;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #ffffff !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-primary:hover {
  background: #1B69B6;
  color: #ffffff !important;
}

.btn-primary:active {
  background: #134A81;
  color: #ffffff !important;
}

.btn-primary:focus {
  border: 1px solid #1F78D1;
  box-shadow: 0px 0px 2px #1F78D1;
  color: #ffffff !important;
}

.btn-primary:disabled {
  background: #1F78D1;
  opacity: 0.4;
  color: #ffffff !important;
}

.btn-default-dropdown-big {
  background: var(--default-bg);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 12px 24px !important;
  border: 1px solid transparent;
  border-radius: 2px !important;
  color: var(--text) !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-default-dropdown-big:hover {
  background: var(--default-hover);
  color: var(--text) !important;
}

.btn-default-dropdown-big:active {
  background: var(--default-pressed);
  color: var(--text) !important;
}

.btn-default-dropdown-big:focus {
  border: 1px solid #1F78D1;
  box-shadow: 0px 0px 2px #1F78D1;
  color: var(--text) !important;
}

.btn-default-dropdown-big:disabled {
  background: var(--default-disabled);
  color: #CCCCCC !important;
}

.btn-default-dropdown {
  background: var(--default-bg);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 4px 24px !important;
  border: 1px solid transparent;
  border-radius: 2px !important;
  color: var(--text) !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-default-dropdown:hover {
  background: var(--default-hover);
  color: var(--text) !important;
}

.btn-default-dropdown:active {
  background: var(--default-pressed);
  color: var(--text) !important;
}

.btn-default-dropdown:focus {
  border: 1px solid #1F78D1;
  box-shadow: 0px 0px 2px #1F78D1;
  color: var(--text) !important;
}

.btn-default-dropdown:disabled {
  background: var(--default-disabled);
  color: #CCCCCC !important;
}

.btn-dropdown-big {
  background: #1F78D1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 12px 32px !important;
  border: 1px solid transparent;
  border-radius: 2px !important;
  color: #ffffff !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-dropdown-big:hover {
  background: #1B69B6;
  color: #ffffff !important;
}

.btn-dropdown-big:active {
  background: #134A81;
  color: #ffffff !important;
}

.btn-dropdown-big:focus {
  border: 1px solid #1F78D1;
  box-shadow: 0px 0px 2px #1F78D1;
  color: #ffffff !important;
}

.btn-dropdown-big:disabled {
  background: #1F78D1;
  opacity: 0.4;
  color: #ffffff !important;
}

.btn-dropdown {
  background: #1F78D1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 4px 32px !important;
  border: 1px solid transparent;
  border-radius: 2px !important;
  color: #ffffff !important;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-dropdown:hover {
  background: #1B69B6;
  color: #ffffff !important;
}

.btn-dropdown:active {
  background: #134A81;
  color: #ffffff !important;
}

.btn-dropdown:focus {
  border: 1px solid #1F78D1;
  box-shadow: 0px 0px 2px #1F78D1;
  color: #ffffff !important;
}

.btn-dropdown:disabled {
  background: #1F78D1;
  opacity: 0.4;
  color: #ffffff !important;
}

.btn-link {
  color: #2E3D4F !important;
}

.btn-link:hover {
  color: #212D3B !important;
}

.btn-delete {
  background-color: #d55c5c;
  color: #fff;
  font-size: small;
  padding: 4px 12px;
  -moz-box-sizing: border-box;
  margin: 2px auto;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-delete:hover {
  background: #fff;
  border-color: #d55c5c;
  color: #d55c5c;
}

.btn-close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  opacity: .2;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: currentColor;
  outline: none;
}

.mark, mark {
  background-color: #DFDFDF !important;
  padding: .2em !important;
}

img {
  max-width: 100%;
}

.global {
  text-align: center !important;
}

.code-snippet, .code-snippet-2 {
  display: none;
}

.underline {
  text-decoration: underline !important;
}

.underline:hover {
  text-decoration: none !important;
}

.orange-icon {
  color: var(--alert-warning-icon);
}

.red-icon {
  color: #FBE5E1;
}

.arrow_box {
  position: relative;
  background: var(--snippet-bg);
  display: none;
}

.arrow_box:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: var(--snippet-bg);
  border-width: 12px;
  margin-left: -12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dee2e6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1F78D1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1F78D1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 18px;
}

.slider.round:before {
  border-radius: 50%;
}

.bg {
  background-color: var(--card-bg);
}

.bg-grey {
  background-color: #dee2e6 !important;
  color: #000;
}

.contrast-blue {
  color: #222222 !important;
}

.contrast-orange {
  color: #161616 !important;
}

.contrast-red {
  color: #1D1D1D !important;
}

.contrast-night {
  color: #0F0F0F !important;
}

.contrast-gray {
  color: #2A2A2A !important;
}

@media (min-width: 992px) {
  .display-xs {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .display-md {
    display: none !important;
  }
  .hero-header {
    padding: 0rem 1rem;
  }
}

.display-md {
  display: unset;
}

body {
  color: var(--text) !important;
  font-family: "Inter", sans-serif !important;
  font-size: 1rem;
  background-color: var(--body) !important;
}

body:after {
  display: none;
  content: url("../images/wide-logo.png") url("../images/logo-text-white.png");
}

a {
  text-decoration: none !important;
  color: var(--link) !important;
}

a:hover {
  color: var(--link-hover) !important;
}

:root {
  --primary: #53830E;
  --secondary: #3E620C;
  --body: #ffffff;
  --text: #2E2E2E;
  --link: #1F78D1;
  --link-hover: #1B69B6;
  --logo: url("../images/wide-logo.png");
  --logo-bg: #ffffff;
  --header-svg: url("../images/app.svg");
  --header-text: #1F1F1F;
  --sidebar-bg: #F2F2F2;
  --sidebar-inner-bg: #FAFAFA;
  --sidebar-text: #4F4F4F;
  --navbar-bg: #74B816;
  --snippet-bg: #DFDFDF;
  --hover: #000000;
  --border: #CCCCCC;
  --card-bg: #F2F2F2;
  --bg-hover: #DFDFDF;
  --navtop-color: #ffffff;
  --navtop-hover: #000000;
  --muted: #6c757d;
  --box: #DFDFDF;
  --box-bg: transparent;
  --box-buttons-bg: transparent;
  --default-bg: #DFDFDF;
  --default-hover: #CCCCCC;
  --default-pressed: #A7A7A7;
  --default-disabled: #DFDFDF;
  --alert-generic: #F2F2F2;
  --alert-success: #B4E76F;
  --alert-warning: #FED69F;
  --alert-warning-text: #1F1F1F;
  --alert-warning-icon: #A35200;
  --alert-tip: #E4F0FB;
}

.dark {
  --primary: #B1BFCF;
  --secondary: #8A9CB3;
  --body: #15212D;
  --text: #ffffff;
  --link: #ffffff;
  --link-hover: #DFDFDF;
  --logo: url("../images/logo-text-white.png");
  --logo-bg: #15212D;
  --header-svg: url("../images/app-dark.svg");
  --header-text: #1F1F1F;
  --sidebar-bg: #212D3B;
  --sidebar-inner-bg: #2E3D4F;
  --sidebar-text: #F2F2F2;
  --navbar-bg: #212D3B;
  --snippet-bg: #DFDFDF;
  --hover: #DFDFDF;
  --border: #374B61;
  --card-bg: #212D3B;
  --bg-hover: #15212D;
  --navtop-color: #ffffff;
  --navtop-hover: #919191;
  --muted: #ffffff;
  --box: #2E3D4F;
  --box-bg: #212D3B;
  --default-bg: rgba(255, 255, 255, 0.1);
  --default-hover: rgba(255, 255, 255, 0.05);
  --default-pressed: rgba(0, 0, 0, 0.2);
  --default-disabled: rgba(255, 255, 255, 0.025);
  --alert-generic: #2E3D4F;
  --alert-success: #53830E;
  --alert-warning: #A35200;
  --alert-warning-text: #FFFAF4;
  --alert-warning-icon: #FED69F;
  --alert-tip: #134A81;
}

/*# sourceMappingURL=main.css.map */