.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}

.nav-link {
  color: var(--navtop-color) !important;
}

.nav-link:hover {
  color: var(--navtop-hover) !important;
}

.navbar-wide-logo {
  padding: 2.5rem 0rem;
  text-align: center;
  background-color: var(--logo-bg) !important;
  background: var(--logo);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.hero-header {
  text-align: center;
  height: 320px;
  background: url("../images/app.svg");
  background-repeat: repeat;
  background-position: center;
  background-color: var(--header-bg);
}

.sidebar {
  height: 100%;
  width: 16.66666667%;
  background-color: var(--sidebar-bg);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar .material-icons {
  letter-spacing: 10px;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  float: left;
}

.sidebar .list-group-item {
  background-color: transparent !important;
  border: 0;
  border-bottom: 1px solid !important;
  border-color: var(--border) !important;
  border-radius: 0 !important;
  font-size: .875rem;
  font-weight: 600 !important;
  padding: 1rem 1.1rem !important;
}

#theme_toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.stick-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.stick-bottom > .list-group-item {
  border-bottom: none !important;
}

@media screen and (min-width: 1000px) and (max-height: 820px) {
  .stick-bottom {
    position: relative !important;
  }
}

.theme_toggle {
  border: none;
  font-weight: bold;
  color: var(--sidebar-text);
  padding: 1rem 1rem !important;
  cursor: pointer;
  background-color: var(--sidebar-bg);
}

.theme_toggle:focus {
  outline: none;
}

.list-group-item.inner-sidebar {
  background-color: var(--sidebar-inner-bg) !important;
  color: var(--sidebar-text) !important;
  padding: 1rem 0rem 1rem 3.5rem !important;
}

.list-group-item.inner-sidebar:hover {
  color: var(--hover) !important;
  background-color: var(--hover-bg) !important;
}

.sidebar__link__darkGray {
  color: var(--sidebar-text) !important;
}

.sidebar__link__darkGray:hover {
  color: var(--hover) !important;
  background-color: var(--bg-hover);
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.sidebar__link__darkGray.active {
  color: var(--black) !important;
  background-color: var(--bg-hover) !important;
}

#themer {
  cursor: pointer;
}

.row {
  margin: auto !important;
}

.rp-navbar__top {
  background-color: var(--navbar-bg);
}

.rb-contain {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.max-width-150 {
  max-width: 150px;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-18 {
  padding-top: 18px;
}

.align-horizontally {
  display: flex;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.hidden-sm {
  display: block;
}

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

.list-group-item:focus *,
.list-group-item:hover * {
  color: var --hover;
}

.list-group-item.active {
  color: var(--hover) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-box {
  background-color: #f1f3f5 !important;
}

.b-border {
  border-bottom: 2px solid lightgrey !important;
}

.no-js-banner {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #fff7c9;
  color: #786600;
  display: none;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
}

@media (min-width: 992px) {
  .navbar {
    display: none !important;
  }
}

.bold {
  font-weight: bold;
}

.inverted {
  color: #ffffff;
}

.f-small {
  text-transform: lowercase;
}

.colors:first-child .color-overview {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.colors:last-child .color-overview {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.colors:last-child:hover .color-overview {
  border-bottom-left-radius: 0;
}

.colors .color-overview {
  transition: .1s linear;
  display: flex;
}

.colors .color-overview .variable {
  flex-grow: 2;
}

.colors .color-overview .hex {
  transition: .15s linear;
  opacity: 0;
}

.colors .color-details {
  display: none;
  flex-wrap: wrap;
}

.colors .color-details .color-details--section {
  flex-grow: 2;
  flex-basis: 50%;
}

.colors .color-details .color-details--section .pass {
  color: #67A60F;
}

.colors .color-details .color-details--section .fail {
  color: #DB3B21;
}

.colors .color-priority {
  height: 128px;
}

.colors:hover .color-overview {
  margin: 0 -8px 0 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: .15s linear;
}

.colors:hover > .color-details {
  display: flex;
}

.palette:hover .color-priority {
  height: auto;
}

.palette:hover .hex {
  opacity: 1;
}

.color {
  height: 100px;
}

.grid {
  height: 100px;
  background-color: var(--primary);
  border-radius: 7px;
}

.grid span {
  margin: 10px 10px 10px 10px;
  color: white;
}

.icon {
  font-size: 20px;
  background-color: #DFDFDF;
  padding: 20px;
}

.alert {
  border-radius: 3px !important;
  padding: 15px !important;
  margin-bottom: 25px !important;
}

.alert-primary {
  color: #ffffff !important;
  background-color: var(--primary) !important;
  border-color: transparent !important;
}

.alert-secondary {
  color: #000000 !important;
  background-color: #f0f0f0 !important;
  border-color: transparent !important;
}

.alert-success {
  color: #3f6910 !important;
  background-color: #e5f8d1 !important;
  border-color: transparent !important;
}

.alert-success hr {
  border-top-color: #1d731d;
}

.alert-success .alert-link {
  color: #003b00;
}

.alert-warning {
  color: #786600 !important;
  background-color: #fff7c9 !important;
  border-color: transparent !important;
}

.alert-danger {
  color: #801f00 !important;
  background-color: #ffd8cc !important;
  border-color: transparent !important;
}

.alert-danger hr {
  border-top-color: #e15647;
}

.alert-danger .alert-link {
  color: #880000;
}

.background-primary {
  background-color: var(--primary);
}

.background-secondary {
  background-color: var(--secondary);
}

.background-warning {
  background-color: #fff7c9;
}

.background-danger {
  background-color: #ffd8cc;
}

.background-button {
  background-color: #7985aa;
}

.background-star {
  background-color: #ffa500;
}

.background-gray-50 {
  background-color: #FAFAFA;
}

.background-gray-100 {
  background-color: #F2F2F2;
}

.background-gray-200 {
  background-color: #DFDFDF;
}

.background-gray-300 {
  background-color: #CCCCCC;
}

.background-gray-400 {
  background-color: #BABABA;
}

.background-gray-500 {
  background-color: #A7A7A7;
}

.background-gray-600 {
  background-color: #919191;
}

.background-gray-700 {
  background-color: #707070;
}

.background-gray-800 {
  background-color: #4F4F4F;
}

.background-gray-900 {
  background-color: #2E2E2E;
}

.background-gray-950 {
  background-color: #1F1F1F;
}

.border-gray-50 {
  border: 1px solid #FAFAFA;
}

.border-gray-100 {
  border: 1px solid #F2F2F2;
}

.border-gray-200 {
  border: 1px solid #DFDFDF;
}

.border-gray-300 {
  border: 1px solid #CCCCCC;
}

.border-gray-400 {
  border: 1px solid #BABABA;
}

.border-gray-500 {
  border: 1px solid #A7A7A7;
}

.border-gray-600 {
  border: 1px solid #919191;
}

.border-gray-700 {
  border: 1px solid #707070;
}

.border-gray-800 {
  border: 1px solid #4F4F4F;
}

.border-gray-900 {
  border: 1px solid #2E2E2E;
}

.border-gray-950 {
  border: 1px solid #1F1F1F;
}

.background-lime-50 {
  background-color: #EEFBDE;
}

.background-lime-100 {
  background-color: #D1F0A7;
}

.background-lime-200 {
  background-color: #B4E76F;
}

.background-lime-300 {
  background-color: #95DE2D;
}

.background-lime-400 {
  background-color: #82C91E;
}

.background-lime-500 {
  background-color: #74B816;
}

.background-lime-600 {
  background-color: #67A60F;
}

.background-lime-700 {
  background-color: #53830E;
}

.background-lime-800 {
  background-color: #3E620C;
}

.background-lime-900 {
  background-color: #283E0A;
}

.background-lime-950 {
  background-color: #1C2C05;
}

.border-lime-50 {
  border: 1px solid #EEFBDE;
}

.border-lime-100 {
  border: 1px solid #D1F0A7;
}

.border-lime-200 {
  border: 1px solid #B4E76F;
}

.border-lime-300 {
  border: 1px solid #95DE2D;
}

.border-lime-400 {
  border: 1px solid #82C91E;
}

.border-lime-500 {
  border: 1px solid #74B816;
}

.border-lime-600 {
  border: 1px solid #67A60F;
}

.border-lime-700 {
  border: 1px solid #53830E;
}

.border-lime-800 {
  border: 1px solid #3E620C;
}

.border-lime-900 {
  border: 1px solid #283E0A;
}

.border-lime-950 {
  border: 1px solid #1C2C05;
}

.background-blue-50 {
  background-color: #F6FAFE;
}

.background-blue-100 {
  background-color: #E4F0FB;
}

.background-blue-200 {
  background-color: #B8D6F4;
}

.background-blue-300 {
  background-color: #73AFEA;
}

.background-blue-400 {
  background-color: #418CD8;
}

.background-blue-500 {
  background-color: #1F78D1;
}

.background-blue-600 {
  background-color: #1B69B6;
}

.background-blue-700 {
  background-color: #17599C;
}

.background-blue-800 {
  background-color: #134A81;
}

.background-blue-900 {
  background-color: #0F3B66;
}

.background-blue-950 {
  background-color: #0A2744;
}

.border-blue-50 {
  border: 1px solid #F6FAFE;
}

.border-blue-100 {
  border: 1px solid #E4F0FB;
}

.border-blue-200 {
  border: 1px solid #B8D6F4;
}

.border-blue-300 {
  border: 1px solid #73AFEA;
}

.border-blue-400 {
  border: 1px solid #418CD8;
}

.border-blue-500 {
  border: 1px solid #1F78D1;
}

.border-blue-600 {
  border: 1px solid #1B69B6;
}

.border-blue-700 {
  border: 1px solid #17599C;
}

.border-blue-800 {
  border: 1px solid #134A81;
}

.border-blue-900 {
  border: 1px solid #0F3B66;
}

.border-blue-950 {
  border: 1px solid #0A2744;
}

.background-night-50 {
  background-color: #EBF3FA;
}

.background-night-100 {
  background-color: #D1DAE6;
}

.background-night-200 {
  background-color: #B1BFCF;
}

.background-night-300 {
  background-color: #8A9CB3;
}

.background-night-400 {
  background-color: #657D99;
}

.background-night-500 {
  background-color: #435B77;
}

.background-night-600 {
  background-color: #374B61;
}

.background-night-700 {
  background-color: #2E3D4F;
}

.background-night-800 {
  background-color: #212D3B;
}

.background-night-900 {
  background-color: #15212D;
}

.background-night-950 {
  background-color: #0E171F;
}

.border-night-50 {
  border: 1px solid #EBF3FA;
}

.border-night-100 {
  border: 1px solid #D1DAE6;
}

.border-night-200 {
  border: 1px solid #B1BFCF;
}

.border-night-300 {
  border: 1px solid #8A9CB3;
}

.border-night-400 {
  border: 1px solid #657D99;
}

.border-night-500 {
  border: 1px solid #435B77;
}

.border-night-600 {
  border: 1px solid #374B61;
}

.border-night-700 {
  border: 1px solid #2E3D4F;
}

.border-night-800 {
  border: 1px solid #212D3B;
}

.border-night-900 {
  border: 1px solid #15212D;
}

.border-night-950 {
  border: 1px solid #0E171F;
}

.background-orange-50 {
  background-color: #FFFAF4;
}

.background-orange-100 {
  background-color: #FFF1DE;
}

.background-orange-200 {
  background-color: #FED69F;
}

.background-orange-300 {
  background-color: #FDBC60;
}

.background-orange-400 {
  background-color: #FCA429;
}

.background-orange-500 {
  background-color: #FC9403;
}

.background-orange-600 {
  background-color: #DE7E00;
}

.background-orange-700 {
  background-color: #C26700;
}

.background-orange-800 {
  background-color: #A35200;
}

.background-orange-900 {
  background-color: #853C00;
}

.background-orange-950 {
  background-color: #592800;
}

.border-orange-50 {
  border: 1px solid #FFFAF4;
}

.border-orange-100 {
  border: 1px solid #FFF1DE;
}

.border-orange-200 {
  border: 1px solid #FED69F;
}

.border-orange-300 {
  border: 1px solid #FDBC60;
}

.border-orange-400 {
  border: 1px solid #FCA429;
}

.border-orange-500 {
  border: 1px solid #FC9403;
}

.border-orange-600 {
  border: 1px solid #DE7E00;
}

.border-orange-700 {
  border: 1px solid #C26700;
}

.border-orange-800 {
  border: 1px solid #A35200;
}

.border-orange-900 {
  border: 1px solid #853C00;
}

.border-orange-950 {
  border: 1px solid #592800;
}

.background-red-50 {
  background-color: #FEF6F5;
}

.background-red-100 {
  background-color: #FBE5E1;
}

.background-red-200 {
  background-color: #F2B4A9;
}

.background-red-300 {
  background-color: #EA8271;
}

.background-red-400 {
  background-color: #E05842;
}

.background-red-500 {
  background-color: #DB3B21;
}

.background-red-600 {
  background-color: #C0341D;
}

.background-red-700 {
  background-color: #A62D19;
}

.background-red-800 {
  background-color: #8B2615;
}

.background-red-900 {
  background-color: #711E11;
}

.background-red-950 {
  background-color: #4B140B;
}

.border-red-50 {
  border: 1px solid #FEF6F5;
}

.border-red-100 {
  border: 1px solid #FBE5E1;
}

.border-red-200 {
  border: 1px solid #F2B4A9;
}

.border-red-300 {
  border: 1px solid #EA8271;
}

.border-red-400 {
  border: 1px solid #E05842;
}

.border-red-500 {
  border: 1px solid #DB3B21;
}

.border-red-600 {
  border: 1px solid #C0341D;
}

.border-red-700 {
  border: 1px solid #A62D19;
}

.border-red-800 {
  border: 1px solid #8B2615;
}

.border-red-900 {
  border: 1px solid #711E11;
}

.border-red-950 {
  border: 1px solid #4B140B;
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-gray-2 {
  color: #919191;
}

.rb-code {
  font-family: 'Mono', monospace !important;
  height: auto;
}

.rb-isBold {
  font-weight: bold;
}

.font-20 {
  font-size: 20px !important;
}

.antiscroll {
  overflow: scroll !important;
  white-space: nowrap;
}

div[data-tabs] {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
}

div[data-tabs] input {
  display: none;
}

div[data-tabs] input:checked + label {
  border-top-color: #53830E;
  border-bottom-color: #f9f9fa;
  color: #53830E;
}

div[data-tabs] input + label {
  border: 1px solid #ededf0;
  border-top-color: #ededf0;
  border-top-width: 1px;
  border-bottom-color: #ededf0;
  border-top-width: 2px;
  padding: .5rem;
  z-index: 1;
  cursor: pointer;
}

div[data-tabs] input:checked + label + div[data-tab] {
  display: grid;
}

div[data-tabs] input + label + div[data-tab] {
  display: none;
}

div[data-tabs] div[data-tab] {
  grid-column-end: span 6;
  padding: 1rem;
  border: 1px solid #ededf0;
  margin-top: -1px;
}

.grid-2 {
  display: grid;
  grid: auto-flow/repeat(2, 1fr);
  column-gap: 12px;
}

.btn-primary {
  background-color: #53830E !important;
  border-color: transparent !important;
  padding: 1rem 1.5rem !important;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #3E620C !important;
  border-color: transparent !important;
}

.btn-small {
  background-color: #53830E !important;
  border-color: transparent !important;
  padding: .08rem .4rem 0 !important;
  font-size: .8rem;
  color: #ffffff !important;
}

.btn-small:hover {
  background-color: #3E620C !important;
  border-color: transparent !important;
  color: #ffffff !important;
}

.btn-medium {
  background-color: #53830E !important;
  border-color: transparent !important;
  padding: .5rem 1rem !important;
  font-size: 1rem !important;
  color: #ffffff !important;
}

.btn-medium:hover {
  background-color: #3E620C !important;
  border-color: transparent !important;
  color: #ffffff !important;
}

.btn-outline-medium {
  border-color: #53830E !important;
  color: #53830E !important;
  padding: .5rem 1rem !important;
  font-size: 1rem !important;
  background-color: transparent !important;
}

.btn-outline-medium:hover {
  color: white !important;
  background-color: #53830E !important;
  border-color: transparent !important;
}

.btn-outline-small {
  border-color: #53830E !important;
  color: #53830E !important;
  padding: .08rem .4rem 0 !important;
  font-size: .8rem;
  background-color: transparent !important;
}

.btn-outline-small:hover {
  color: white !important;
  background-color: #53830E !important;
  border-color: transparent !important;
}

.btn-outline-primary {
  border-color: #53830E !important;
  color: #53830E !important;
  padding: 1rem 1.5rem !important;
  font-size: 1rem;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: #53830E !important;
  border-color: transparent !important;
}

.btn-link {
  color: #53830E !important;
}

.btn-link:hover {
  color: #3E620C !important;
}

.btn-default {
  background: #53830E;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 3px 10px !important;
  margin: 2px auto;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #fff !important;
  font-size: medium;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-delete {
  background-color: #d55c5c;
  color: #fff;
  font-size: small;
  padding: 3px 10px;
  -moz-box-sizing: border-box;
  margin: 2px auto;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-delete:hover {
  background: #fff;
  border-color: #d55c5c;
  color: #d55c5c;
}

.btn-starred {
  color: white !important;
  background-color: orange !important;
  border-color: 1px solid orange !important;
  padding: 3px 10px !important;
  -moz-box-sizing: border-box;
  margin: 2px auto !important;
  cursor: pointer;
  text-align: center;
}

.btn-starred:hover {
  color: orange !important;
  background-color: white !important;
  border-color: orange !important;
}

.btn-unstar {
  color: white !important;
  background-color: #e69500 !important;
  border-color: 1px solid #e69500 !important;
  padding: 3px 10px !important;
  -moz-box-sizing: border-box;
  margin: 2px auto !important;
  cursor: pointer;
  text-align: center;
}

.btn-unstar:hover {
  color: #e69500 !important;
  background-color: white !important;
  border-color: #e69500 !important;
}

.btn-close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  opacity: .2;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: currentColor;
  outline: none;
}

.btn-default:active, .btn-default:focus, .btn-default:hover {
  background: #fff !important;
  color: #53830E !important;
  border: 1px solid #7985aa !important;
}

.btn-time {
  background-color: #9e9e9e;
  color: #fff;
  font-size: small;
  padding: 3px 10px !important;
  border-radius: .25rem;
  border: none !important;
}

.badge-primary {
  background-color: #53830E !important;
}

.badge-secondary {
  background-color: #3E620C !important;
}

.rb-link {
  color: #53830E !important;
}

.rb-link:hover {
  color: #3E620C !important;
}

.rb-paginate-active {
  background-color: #53830E !important;
  color: white !important;
}

.rb-paginate-active:hover {
  background-color: #3E620C !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #f3f3f3 !important;
}

.mark, mark {
  background-color: #DFDFDF !important;
  padding: .2em !important;
}

.btn-star {
  color: #d3d3d3 !important;
  background-color: transparent !important;
  padding: 0 !important;
  border: none !important;
}

.btn-star:hover {
  color: orange !important;
}

img {
  max-width: 100%;
}

.global {
  text-align: center !important;
}

.code-snippet, .code-snippet-2 {
  display: none;
}

.arrow_box {
  position: relative;
  background: var(--snippet-bg);
  display: none;
}

.arrow_box:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: var(--snippet-bg);
  border-width: 12px;
  margin-left: -12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dee2e6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #53830E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #53830E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 18px;
}

.slider.round:before {
  border-radius: 50%;
}

.bg {
  background-color: var(--card-bg);
}

.bg-grey {
  background-color: #dee2e6 !important;
  color: #000;
}

@media (min-width: 992px) {
  .display-xs {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .display-md {
    display: none !important;
  }
  .hero-header {
    padding: 0rem 1rem;
  }
}

.display-md {
  display: unset;
}

body {
  color: var(--text) !important;
  font-family: "Inter", sans-serif !important;
  font-size: 1rem;
  background-color: var(--body) !important;
}

body:after {
  position: absolute;
  overflow: hidden;
  left: -50000px;
  content: url("../images/wide-logo.png") url("../images/logo-text-white.png");
}

a {
  text-decoration: none !important;
  color: #53830E !important;
}

a:hover {
  color: #3E620C !important;
}

:root {
  --primary: #53830E;
  --secondary: #3E620C;
  --body: #ffffff;
  --text: #2E2E2E;
  --logo: url("../images/wide-logo.png");
  --logo-bg: #ffffff;
  --header-bg: #657D99;
  --sidebar-bg: #F2F2F2;
  --sidebar-inner-bg: #FAFAFA;
  --sidebar-text: #4F4F4F;
  --navbar-bg: #74B816;
  --snippet-bg: #DFDFDF;
  --hover: #000000;
  --border: #CCCCCC;
  --card-bg: #FAFAFA;
  --bg-hover: #DFDFDF;
  --navtop-color: #ffffff;
  --navtop-hover: :root black;
}

.dark {
  --primary: #B1BFCF;
  --secondary: #8A9CB3;
  --body: #15212D;
  --text: #ffffff;
  --logo: url("../images/logo-text-white.png");
  --logo-bg: #15212D;
  --header-bg: #374B61;
  --sidebar-bg: #212D3B;
  --sidebar-inner-bg: #2E3D4F;
  --sidebar-text: #F2F2F2;
  --navbar-bg: #212D3B;
  --snippet-bg: #DFDFDF;
  --hover: #DFDFDF;
  --border: #374B61;
  --card-bg: #212D3B;
  --bg-hover: #15212D;
  --navtop-color: #ffffff;
  --navtop-hover: #919191;
}

/*# sourceMappingURL=main.css.map */