{{ define "main" }}
<div class="row">
  <div class="col-md-3 col-sm-5 hidden-sm p-0">
    <div class="row" style="height: 100%">
      <div class="col-md-6 col-sm-6 col-xs-6 p-0">
        {{ partial "navbar_side.html" . }}
        <!-- sidebarClassName="rb-sidebar__1" -->
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 p-0">
        {{ partial "sidebar.html" . }}
        <!-- sidebarClassName="rb-sidebar__2" -->
      </div>
    </div>
  </div>
  <div class="col-lg-9 pt-3 pl-5">
    {{ .Content }}
    <!-- participants=site.data.profiles -->
    {{ partial "visuals/colors.html" . }}
    {{ partial "visuals/grid.html" . }}
    {{ partial "visuals/typography.html" . }}
    {{ partial "visuals/icons.html" . }}
    {{ partial "visuals/assets.html" . }}
    {{ partial "scrollspy.html" . }}
  </div>
</div>
{{ end }}
