<div id="assets" class="page-header mb-4 mt-5">
    <h2 class="b-border">Identity Assets</h2>
    <p class="text-muted">The Briar Project brand assets are included here. Use them responsibly.</p>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4 col-sm-3">
        <div class="image border p-5">
            <img class="rb-contain" src="/images/briar_horizontal_color.png" alt="Briar Horizontal color logo">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Default</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a href="/images/briar_horizontal_color.png" class="button btn btn-sm btn-outline-medium mr-1" download><i class="fas fa-download"></i> PNG</a>
              <a href="/images/briar_horizontal_color.svg" class="button btn btn-sm btn-outline-medium" download><i class="fas fa-download"></i> SVG</a>
            </span>
        </p>

    </div>
    <div class="col-xs-12 col-md-4 col-sm-3">
        <div class="image border p-5">
            <img class="rb-contain" src="/images/briar_horizontal_black.png" alt="Briar Horizontal black logo">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Black</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a href="/images/briar_horizontal_black.png" class="button btn btn-sm btn-outline-medium mr-1" download><i class="fas fa-download"></i> PNG</a>
              <a href="/images/briar_horizontal_black.svg" class="button btn btn-sm btn-outline-medium" download><i class="fas fa-download"></i> SVG</a>
            </span>
        </p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-3">
        <div class="image border p-5 bg-dark">
          <img class="rb-contain" src="/images/briar_horizontal_white.png" alt="Briar Horizontal white logo">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">White</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a href="/images/briar_horizontal_white.png" class="button btn btn-sm btn-outline-medium mr-1" download><i class="fas fa-download"></i> PNG</a>
              <a href="/images/briar_horizontal_color.svg" class="button btn btn-sm btn-outline-medium" download><i class="fas fa-download"></i> SVG</a>
            </span>
        </p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-xs-12 col-md-4 col-sm-3">
        <div class="image border p-5">
          <img class="rb-contain" src="/images/briar_vertical_color.png" alt="Briar Vertical color logo">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Default</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a href="/images/briar_vertical_color.png" class="button btn btn-sm btn-outline-medium mr-1" download><i class="fas fa-download"></i> PNG</a>
              <a href="/images/briar_vertical_color.svg" class="button btn btn-sm btn-outline-medium"><i class="fas fa-download"></i> SVG</a>
            </span>
        </p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-3">
        <div class="image border p-5">
          <img class="rb-contain" src="/images/briar_vertical_black.png" alt="Briar Vertical black logo">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Black</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a href="/images/briar_vertical_black.png" class="button btn btn-sm btn-outline-medium mr-1" download><i class="fas fa-download"></i> PNG</a>
              <a href="/images/briar_vertical_black.svg" class="button btn btn-sm btn-outline-medium" download><i class="fas fa-download"></i> SVG</a>
            </span>
        </p>
    </div>

    <div class="col-xs-12 col-md-4 col-sm-3">
        <div class="image border p-5 bg-dark">
          <img class="rb-contain" src="/images/briar_vertical_white.png" alt="Briar Vertical white logo">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">White</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a href="/images/briar_vertical_white.png" class="button btn btn-sm btn-outline-medium mr-1" download><i class="fas fa-download"></i> PNG</a>
              <a href="/images/briar_vertical_white.svg" class="button btn btn-sm btn-outline-medium" download><i class="fas fa-download"></i> SVG</a>
            </span>
        </p>
    </div>
</div>

<div class="row mt-3">
    <div class="col-xs-12 col-md-4 col-sm-3">
        <div class="image border p-5">
          <img class="rb-contain" src="/images/briar_icon_color.png" alt="Briar Icon color logo">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Default</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a href="/images/briar_icon_color.png" class="button btn btn-sm btn-outline-medium mr-1" download><i class="fas fa-download"></i> PNG</a>
              <a href="/images/briar_icon_color.svg" class="button btn btn-sm btn-outline-medium" download><i class="fas fa-download"></i> SVG</a>
            </span>
        </p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-3">
        <div class="image border p-5">
          <img class="rb-contain" src="/images/briar_icon_black.png" alt="Briar Icon black logo">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Black</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a href="/images/briar_icon_black.png" class="button btn btn-sm btn-outline-medium mr-1" download><i class="fas fa-download"></i> PNG</a>
              <a href="/images/briar_icon_black.svg" class="button btn btn-sm btn-outline-medium"><i class="fas fa-download"></i> SVG</a>
            </span>
        </p>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-3">
        <div class="image bg-dark border p-5">
          <img class="rb-contain" src="/images/briar_icon_white.png" alt="Briar Icon white logo">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">White</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a href="/images/briar_icon_white.png" class="button btn btn-sm btn-outline-medium mr-1" download><i class="fas fa-download"></i> PNG</a>
              <a href="/images/briar_icon_white.svg" class="button btn btn-sm btn-outline-medium"><i class="fas fa-download"></i> SVG</a>
            </span>
        </p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <div class="bg p-5 mb-3">
            <h6>Briar Project repo</h6>
            <p class="m-0">Download SVG and PNG files</p>
            <a class="btn btn-lg btn-link p-0" title="SecureDrop Repo"
               href="https://github.com/uracreative/works/tree/master/Briar" target="_blank">Visit Repo</a></div>
    </div>
    <div class="col-md-6">
        <div class="bg p-5 text-left">
            <h6>Styleguide Mirror on Identihub</h6>
            <p class="m-0">Identihub Project</p>
            <a class="btn btn-lg btn-link p-0" href="https://demo.identihub.co/briarproject"
               target="_blank">Visit Project Page</a>
        </div>
    </div>
</div>
