<div id="grid" class="page-header mb-4 mt-5">
    <h4 class="pb-2">Spacing</h4>
    <p>Briar uses <a class="underline" href="https://material.io/design/layout/#usage" target="_blank" rel="noopener">Material Design spacing guidelines</a> for both Web and Android platforms. Material Design layouts encourage consistency across platforms, environments, and screen sizes by using uniform elements and spacing. Material Design layouts are visually balanced. Most measurements align to an 8dp grid applied, which aligns both spacing and the overall layout. Smaller components, such as iconography and typography, can align to a 4dp grid.</p>
</div>
<div class="p-1">
    <img src="/images/grid.png" />
</div>
