<div id="grid" class="page-header mb-4 mt-5">
    <h2 class="b-border">Spacing</h2>
    <p class="text-muted">Material Design layouts encourage consistency across platforms, environments, and screen sizes by using uniform elements and spacing.</p>
    <p class="text-muted">Material Design layouts are visually balanced. Most measurements align to an 8dp grid applied, which aligns both spacing and the overall layout.
      Smaller components, such as iconography and typography, can align to a 4dp grid.</p>
</div>
<div class="p-1">
    <img src="/images/grid.png" />
    <p class="pt-1 text-muted">8dp and 4dp units</p>
    <p class="pt-4">The Briar Android app is based on the Google Material Design guidelines. Read more <a href="https://material.io/design/layout/#usage" target="_blank" rel="noopener">here</a>.</p>
</div>
