<div id="icons" class="page-header mb-4 mt-5">
    <h4 class="pb-3">Icons</h4>
    <p class="pb-3">Briar uses the <a class="underline" href="https://material.io/design/iconography/system-icons.html#design-principles" target="_blank" rel="noopener">Material Design Guidelines</a> for both Web and Android iconography. Please refer to these guidelines.</p>
</div>
<div class="row pb-5 no-gutters">
    <div class="col-md-12">
    	<a class="button btn-default-primary-big mr-2" href="https://google.github.io/material-design-icons/" target="_blank" rel="noopener">Download Icon Set</a>
    	<a class="button btn-default-primary-big" href="#" target="_blank" rel="noopener">Download Icon Font</a>
    </div>
</div>
