<div id="icons" class="page-header mb-4 mt-5">
    <h4 class="pb-3">Icons</h4>
    <p class="pb-1">Briar uses the <a class="underline" href="https://material.io/design/iconography/system-icons.html#design-principles" target="_blank" rel="noopener">Material Design Guidelines</a> for both Web and Android iconography. Please refer to these guidelines.</p>
</div>
<div class="row pb-5 no-gutters">
    <div class="col-md-12 pb-5">
            <div class="dropdown mb-3">
                  <button class="button btn btn-default-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download Icons
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="https://google.github.io/material-design-icons/" target="_blank" rel="noopener">Download Icon Set</a>
                   <a class="dropdown-item" href="#" target="_blank" rel="noopener">Download Icon Font</a>
                  </div>
            </div>
    </div>
</div>
