<div id="illustrations" class="page-header mb-4 mt-5">
    <h4 class="pb-2">Illustrations</h4>
</div>

<div class="row mb-5">
    <div class="col-sm-12 col-md-3 col-sm-3 mb-4">
        <div class="image flexing border p-1">
            <img class="rb-contain" src="/images/chat_doodle_black.png" alt="Chat Doodles Black">
        </div>
        <p class="mb-0 mt-2 caption">Chat Doodles Black</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/chat_doodle_black.png" download>PNG</a>
                   <a class="dropdown-item" href="/images/chat_doodle_black.svg" download>SVG</a>
                  </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-3 col-sm-3 mb-4">
        <div class="image flexing border p-1">
            <img class="rb-contain" src="/images/chat_doodle_subtle.png" alt="Chat Doodles Subtle">
        </div>
        <p class="mb-0 mt-2 caption">Chat Doodles Subtle</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/chat_doodle_subtle.png" download>PNG</a>
                   <a class="dropdown-item" href="/images/chat_doodle_subtle.svg" download>SVG</a>
                  </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-3 col-sm-3 mb-4">
        <div class="image flexing border p-1 background-night-900">
          <img class="rb-contain" src="/images/chat_doodle_subtle_dark.png" alt="Chat Doodles Subtle Dark">
        </div>
        <p class="mb-0 mt-2 caption">Chat Doodles Subtle Dark</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/chat_doodle_subtle_dark.png" download>PNG</a>
                   <a class="dropdown-item" href="/images/chat_doodle_subtle_dark.svg" download>SVG</a>
                  </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-sm-3 mb-5">
        <div class="image flexing border p-1 background-lime-950">
          <img class="rb-contain" src="/images/chat_doodle_subtle_lime_dark.png" alt="Chat Doodles Subtle Lime Dark">
        </div>
        <p class="mb-0 mt-2 caption">Chat Doodles Subtle Lime Dark</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/chat_doodle_subtle_lime_dark.png" download>PNG</a>
                   <a class="dropdown-item" href="/images/chat_doodle_subtle_lime_dark.svg" download>SVG</a>
                  </div>
        </div>
    </div>
</div>
