<div id="typography" class="page-header mb-4 mt-5">
  <h4 class="pb-2">Typography</h4>
  <span>
  <div class="alert alert-tip" role="alert">
    These are Web guidelines. For Android, please refer to the <a class="underline" href="https://material.io/design/typography/the-type-system.html" target="_blank" rel="noopener">Material Design guidelines</a>.
  </div>
</span>
  <p class="pt-3">Briar’s typography system slightly differs from platform to platform. On the web, we use a slightly modified version of the <a class="underline" href="https://material.io/design/typography/the-type-system.html" target="_blank" rel="noopener">Material Design typography guidelines</a> using the <a class="underline" href="https://rsms.me" target="_blank" rel="noopener">Inter typeface by Rasmus Andersson</a> and <a class="underline" href="https://fonts.google.com/specimen/Roboto" target="_blank" rel="noopener">Roboto Mono</a> for code snippets and other cases where a monospace font might be required.</p>
</div>

<div class="row mono overflow no-gutters">
 <table>
  <tr class="mono">
    <th>Scale Category</th>
    <th>Font Weight</th>
    <th>Size</th>
    <th>Case</th>
    <th>Letter spacing</th>
  </tr>
  <tr>
    <td><h1>H1</h1></td>
    <td>Light</td>
    <td>96</td>
    <td>Sentence</td>
    <td>-1.5</td>
  </tr>
  <tr>
    <td><h2>H2</h2></td>
    <td>Light</td>
    <td>60</td>
    <td>Sentence</td>
    <td>-0.5</td>
  </tr>
  <tr>
    <td><h3>H3</h3></td>
    <td>Regular</td>
    <td>48</td>
    <td>Sentence</td>
    <td>0</td>
  </tr>
  <tr>
    <td><h4>H4</h4></td>
    <td>Regular</td>
    <td>34</td>
    <td>Sentence</td>
    <td>0.25</td>
  </tr>
  <tr>
    <td><h5>H5</h5></td>
    <td>Regular</td>
    <td>24</td>
    <td>Sentence</td>
    <td>0</td>
  </tr>
  <tr>
    <td><h6>H6</h6></td>
    <td>Medium</td>
    <td>20</td>
    <td>Sentence</td>
    <td>0.15</td>
  </tr>
  <tr>
    <td><p class="subtitle-1 p-0 m-0">Subtitle 1</p></td>
    <td>Regular</td>
    <td>16</td>
    <td>Sentence</td>
    <td>0.15</td>
  </tr>
  <tr>
    <td><p class="subtitle-2 p-0 m-0">Subtitle 2</p></td>
    <td>Medium</td>
    <td>14</td>
    <td>Sentence</td>
    <td>0.1</td>
  </tr>
  <tr>
    <td><p class="body-1 p-0 m-0">Body 1</p></td>
    <td>Regular</td>
    <td>16</td>
    <td>Sentence</td>
    <td>0</td>
  </tr>
  <tr>
    <td><p class="body-2 p-0 m-0">Body 2</p></td>
    <td>Regular</td>
    <td>14</td>
    <td>Sentence</td>
    <td>0</td>
  </tr>
  <tr>
    <td><p class="button p-0 m-0">Button</p></td>
    <td>Medium</td>
    <td>14</td>
    <td>Sentence</td>
    <td>0.5</td>
  </tr>
  <tr>
    <td><p class="caption p-0 m-0">Caption</p></td>
    <td>Regular</td>
    <td>12</td>
    <td>Sentence</td>
    <td>0.4</td>
  </tr>
  <tr>
    <td><p class="overline p-0 m-0">Overline</p></td>
    <td>Regular</td>
    <td>10</td>
    <td>All Caps</td>
    <td>1.5</td>
  </tr>
</table>
</div>

<div class="row no-gutters pt-5">
  <div class="col-md-5">
    <h5 class="pb-2">Links</h5>
    <div class="bg-box">This is a paragraph with a <a class="underline" href="#">Link</a>.</div>
    <p class="pt-3">In paragraphs (not UI components) links are underlined for accessibility reasons.</p>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <h5 class="pb-2">Monospace</h5>
    <div class="bg">
      <p class="p-0 m-0 mono break">briar://adotxjsvndqs5olgvplspnyhaptdsaewfsddfcwasrfredj98jidhnbfsicnjdfngksdhujnlglahnd</p>
    </div>
    <p class="pt-3">In some cases (such as code snippets or contact links) a mono space typeface is required. We use <a class="underline" href="https://fonts.google.com/specimen/Roboto" target="_blank" rel="noopener">Roboto Mono</a> with a slightly darker or lighter shade background to distinguish the snippet from other text.</p>
  </div>
</div>
