{{ define "main" }}
<div class="row">
  <div class="col-md-3 col-sm-5 hidden-sm p-0">
    <div class="row" style="height: 100%">
      <div class="col-md-6 col-sm-6 col-xs-6 p-0">
        {{ partial "navbar_side.html" . }}
      </div>
    </div>
  </div>
  <div class="col-md-8 col-xs-12 col-sm-12 pt-5">
    {{ .Content }}
    {{ partial "design/colors.html" . }}
    {{ partial "design/grid.html" . }}
    {{ partial "design/typography.html" . }}
    {{ partial "design/icons.html" . }}
    {{ partial "design/assets.html" . }}
    {{ partial "scrollspy.html" . }}
  </div>
</div>
{{ end }}
