<h3 class="mt-5 mb-3" id="include-in-a-project">Including in a project</h3>
<p class="text-muted">Reusing components from the Briar Style Guide</p>

<p>The components used in the Briar Style Guide are created with portability in mind. This means they can be reused elsewhere without having to reinvent the wheel.
</p>
<p>
  The easiest way to do this is to download the scss style (components.scss) and import it in your project with bootstrap included.
</p>
<p>
    If you want to use SASS you can download the complete archive for the styleguide. The scss folder under
    assets contains all the sass files. Since we use bootstrap, we only add a few styles without
    modifying bootstrap core or defining new elements whenever possible.
</p>
