<h4 class="mt-5 mb-3" id="reuse-in-a-project">Reuse in a project</h4>

<p>The components used in the Briar Style Guide are created with portability in mind. This means they can be reused elsewhere without having to reinvent the wheel.</p>
<p>The easiest way to do this is to download the scss style (components.scss) and import it in your project with bootstrap included.</p>
<p>If you want to use SASS you can download the complete archive for the styleguide. <a class="underline" target="_blank" rel="noopener" title="SASS" href="https://sass-lang.com/">SASS</a> is a CSS extension The scss folder under assets contains all the sass files. Since we use bootstrap, we only add a few styles without modifying bootstrap core or defining new elements whenever possible. language.</p>

<div class="py-3">
  <h6>Use the Briar Style Guide</h6>
  <p class="mb-2">This package includes .scss files</p>
  <a class="btn btn-lg underline p-0" title="Briar Repo" href="https://github.com/uracreative/briar-styleguide/tree/master/assets" target="_blank">Visit Repo</a>
</div>
