{{ define "main" }}
<div class="row">
    <div class="col-md-3 hidden-sm p-0">
        <div class="row" style="height: 100%">
            <div class="col-md-6 col-sm-16 col-xs-12 p-0">
                {{ partial "navbar_side.html" . }}
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 pt-5">
        {{ partial "components/alerts.html" . }}
        {{ partial "components/buttons.html" . }}
        {{ partial "components/badges.html" . }}
        {{ partial "components/forms.html" . }}
        {{ partial "components/tables.html" . }}
        {{ partial "components/cards.html" . }}
        {{ partial "components/paginate.html" . }}
        {{ partial "scrollspy.html" . }}
    </div>
</div>
{{ end }}
