<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="utf-8">
  <title>Briar</title>
  <link rel="shortcut icon" type="image/png" href='/images/favicon.png'/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = 'canonical' href = '/components/'>
  <link rel = 'stylesheet' href = '/main.css' integrity = ''>
  <link href='/fonts/inter.css' rel="stylesheet">
  <link rel="stylesheet" href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href='/css/material-icons.css'>
  <link rel="stylesheet" href='/css/all.min.css'>
  <noscript>
    <style type="text/css">
        .code-snippet {display:block;}
        .code-snippet-2 {display:block;}
        .snippets,.slider-round,.switch,.toggle,.stick-bottom {display:none;}
    </style>
</noscript>
</head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light border-black sticky-top rp-navbar__top">
  <a class="navbar-brand" href="/">
    <img src="/images/logo.svg"  height="40" width="auto" alt=""></img>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto display-xs">
        <li class="nav-item">
          <a class="nav-link" href="/getting-started"><i class="material-icons">navigation</i> Getting Started</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/brand"><i class="material-icons">star</i> Brand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/design/"><i class="material-icons">create</i> Design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/components/"><i class="material-icons">layers</i> Components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/writing/"><i class="material-icons">text_format</i> Writing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="themer2" onclick="dark();" href="#"><i class="material-icons">brightness_2</i> Switch to Dark Theme</a>
        </li>
      </ul>
    </div>
</nav>

    
<div class="row">
    <div class="col-md-3 hidden-sm p-0">
        <div class="row" style="height: 100%">
            <div class="col-md-6 col-sm-16 col-xs-12 p-0">
                <div class="sidebar">
<a href="/"><div class="navbar-wide-logo"></div></a>
    <ul class="col-sm-16 col-xs-12 p-0 list-group pt-0">

          <a href="/getting-started/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar"><i class="material-icons">navigation</i> Getting Started</li>
              
          </a>

          <a href="/brand/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar"><i class="material-icons">star</i> Brand</li>
              
          </a>

          <a href="/design/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar"><i class="material-icons">create</i> Design</li>
              
          </a>

          <a href="/components/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar"><i class="material-icons">layers</i> Components</li>
              
                
                  
                  <a href="#alerts"><li class="list-group-item rb-sidebar inner-sidebar">
                    Alerts 
                  </li></a>
                
              
                
                  
                  <a href="#buttons"><li class="list-group-item rb-sidebar inner-sidebar">
                    Buttons 
                  </li></a>
                
              
                
                  
                  <a href="#forms"><li class="list-group-item rb-sidebar inner-sidebar">
                    Forms 
                  </li></a>
                
              
                
                  
                  <a href="#cards"><li class="list-group-item rb-sidebar inner-sidebar">
                    Cards 
                  </li></a>
                
              
          </a>

          <a href="/writing/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar"><i class="material-icons">text_format</i> Writing</li>
              
          </a>

          <a class="sidebar__link__darkGray stick-bottom">
              <li class="list-group-item rb-main-sidebar" id="themer" onclick="dark();"><i class="material-icons">brightness_2</i> Dark Theme</li>
          </a>
    </ul>
  </div>

            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 pt-5">
        <div class="page-header mb-4">
    <div class="align-horizontally flex-space-between">
        <h4 id="alerts">Alerts</h4>
      <p class="toggle m-0 p-0">Show Code Snippets
      <label class="switch">
      <input class="snippets" type="checkbox">
      <span class="slider round"></span>
      </label>
    </p>
    </div>
        <span>
            <div class="alert alert-tip mb-3" role="alert">
            These are Web guidelines. For Android, please refer to the <a class="underline" href="https://material.io/design/typography/the-type-system.html" target="_blank" rel="noopener">Material Design guidelines</a>.
            </div>
        </span>
        <p>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
</div>


 <div class="row col-md-12 pt-3 p-0">
         <div class="col-md-6 col-xs-12 mb-4">
           <h5 class="pb-3">Generic</h5>
           <div class="bg-smaller">
            <div class="alert alert-generic" role="alert">
                <button class="btn-close" type="button" aria-label="Close"><span aria-hidden="true">×</span></button>
            <i class="material-icons">info</i> Contact Link created
        </div>
           </div>
            <p class="pt-3">Convey general information or actions that aren’t critical. Update users about a change or give them advice. Include lower priority information and should be dismissible.</p>
           </div>

         <div class="col-md-6 col-xs-12 mb-4">
           <h5 class="pb-3">Success</h5>
           <div class="bg-smaller">
            <div class="alert alert-success" role="alert">
            <i class="material-icons">check</i> Contact Link created
            </div>
           </div>
            <p class="pt-3">Inform users when actions are successfully completed.</p>
           </div>
</div>

 <div class="row col-md-12 pt-3 p-0">
         <div class="col-md-6 col-xs-12 mb-4">
           <h5 class="pb-3">Warning</h5>
           <div class="bg-smaller">
            <div class="alert alert-warning" role="alert">
            <i class="material-icons orange-icon">warning</i> Do not share this information with anyone!
        </div>
           </div>
            <p class="pt-3">Convey general information or actions that aren’t critical. Update users about a change or give them advice. Include lower priority information and should be dismissible.</p>
           </div>

         <div class="col-md-6 col-xs-12 mb-4">
           <h5 class="pb-3">Error</h5>
           <div class="bg-smaller">
            <div class="alert alert-error" role="alert">
            <button class="btn-close" type="button" aria-label="Close"><span aria-hidden="true">×</span></button>
            <i class="material-icons red-icon">error</i> Oops. Something went wrong.
            </div>
           </div>
           </div>
</div>

<div class="row col-md-12 pt-3 p-0">
         <div class="col-md-6 col-xs-12 mb-4">
           <h5 class="pb-3">Tip</h5>
           <div class="bg-smaller">
            <div class="alert alert-tip" role="alert">
                For Android, please refer to the <a class="underline" href="https://material.io/design/typography/the-type-system.html" target="_blank" rel="noopener">Material Design guidelines</a>.
            </div>
           </div>
            <p class="pt-3">Give a tip and contextual information helpful for the user.</p>
           </div>
</div>

        <div id="buttons" class="mb-4 pt-5">
     <div class="align-horizontally flex-space-between">
        <h4>Buttons</h4>
      <p class="toggle m-0 p-0">Show Code Snippets
      <label class="switch">
      <input class="snippets" type="checkbox">
      <span class="slider round"></span>
      </label>
    </p>
    </div>
        <span>
            <div class="alert alert-tip mb-3" role="alert">
            These are Web guidelines. For Android, please refer to the <a class="underline" href="https://material.io/design/typography/the-type-system.html" target="_blank" rel="noopener">Material Design guidelines</a>.
            </div>
        </span>
        <p>Buttons execute an action or change the state of an application. Button text helps users understand what action will occur when they click or tap. Buttons make actions visible. They enable users to change or complete a task. For example use a button to let users confirm a change. Use links in favor of buttons for navigation purposes with the exception of the back and forward button.</p>
</div>

<div class="row col-md-12 pt-3 p-0">
    <div class="col-md-6 col-xs-12 mb-4">
        <h5 class="pb-3">Primary</h5>
        <div class="bg-box">
            <div class="row text-center">
        <div class="col-md-6 col-sm-12 mb-4">
            <p class="pb-3 text-center">Primary Big</p>
            <button class="button btn-primary-big mb-4">Default</button>
            <button type="button" disabled class="button btn-primary-big">Disabled</button>
        </div>
         <div class="col-md-6 col-sm-12 mb-4">
            <p class="pb-3 text-center">Primary</p>
            <button class="button btn-primary mt-2 mb-4">Default</button>
            <button type="button" disabled class="button btn-primary mt-3">Disabled</button>
        </div>
    </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12 mb-4">
        <h5 class="pb-3">Default</h5>
        <div class="bg-buttons">
            <div class="row text-center">
          <div class="col-md-6 col-sm-12 mb-4">
            <p class="pb-3 text-center">Primary Big</p>
            <button class="button btn-default-primary-big mb-4">Default</button>
            <button type="button" disabled class="button btn-default-primary-big">Disabled</button>
        </div>
         <div class="col-md-6 col-sm-12 mb-4">
            <p class="pb-3 text-center">Primary </p>
            <button class="button btn-default-primary mt-2 mb-4">Default</button>
            <button type="button" disabled class="button btn-default-primary mt-3">Disabled</button>
        </div>
    </div>
        </div>
    </div>
</div>

<div class="row col-md-12 pt-3 p-0">
    <div class="col-md-6 col-xs-12 mb-4">
        <h5 class="pb-3">Primary + Icon</h5>
        <div class="bg-box">
            <div class="row text-center">
        <div class="col-md-6 col-sm-12 mb-4">
            <p class="pb-3 text-center">Primary Big</p>
            <button class="button btn-primary-big mb-4"><i class="material-icons pr-1">cloud_download</i> Default</button>
        </div>
         <div class="col-md-6 col-sm-12 mb-4">
            <p class="pb-3 text-center">Primary</p>
            <button class="button btn-primary mt-2 mb-4"><i class="material-icons pr-1">cloud_download</i> Default</button>
        </div>
    </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12 mb-4">
        <h5 class="pb-3">Default + Icon</h5>
        <div class="bg-buttons">
            <div class="row text-center">
          <div class="col-md-6 col-sm-12 mb-4">
            <p class="pb-3">Primary Big</p>
            <button class="button btn-default-primary-big mb-4"><i class="material-icons pr-1">cloud_download</i> Default</button>
        </div>
         <div class="col-md-6 col-sm-12 mb-4">
            <p class="pb-3">Primary </p>
            <button class="button btn-default-primary mt-2 mb-4"><i class="material-icons pr-1">cloud_download</i> Default</button>
        </div>
    </div>
        </div>
    </div>
</div>

<div class="row col-md-12 pt-3 p-0">
    <div class="col-md-6 col-xs-12 mb-4">
        <h5 class="pb-3">Primary Dropdown</h5>
        <div class="bg-box">
            <div class="row text-center mt-4 mb-4">
        <div class="col-md-6 col-sm-12">
             <div class="dropdown">
                  <button class="button btn btn-dropdown-big dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Primary Big
                  </button>
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
            <div class="dropdown">
                  <button class="button btn btn-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Primary
                  </button>
            </div>
        </div>
    </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12 mb-4">
        <h5 class="pb-3">Default Dropdown</h5>
        <div class="bg-buttons">
            <div class="row text-center mt-4 mb-4">
          <div class="col-md-6 col-sm-12">
            <div class="dropdown">
                  <button class="button btn btn-default-dropdown-big dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Default Big
                  </button>
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
            <div class="dropdown">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Default
                  </button>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>

<div class="mb-4 pt-2">
        <h5>Copy Rules</h5>
        <ul class="pt-2">
            <li>When possible, use labels that describe the action or result of selecting the button. Use the same terms to describe the action in both the button and any supporting instructional copy.</li>
            <li>When using two buttons to present a binary choice, if possible label as “X” and “Don’t X”. This will also help with localization.</li>
            <li>Use ellipses in buttons when the action requires additional user input, usually via a dialog, an alert or moving the operation to another window or part of the UI.</li>
        </ul>
</div>
        <div id="forms" class="page-header mb-4 mt-5">
    <div class="align-horizontally flex-space-between">
        <h4 id="forms">Forms</h4>
      <p class="toggle m-0 p-0">Show Code Snippets
      <label class="switch">
      <input class="snippets" type="checkbox">
      <span class="slider round"></span>
      </label>
    </p>
</div>
<div class="row no-gutters">
    <div class="col-md-3">
    </div>
    <form class="pt-3 col-md-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                <span class="ml-2">Check me out</span>
            </label>
        </div>
        <button type="submit" class="btn btn-primary mt-4" onclick="return false;">Submit</button>

        <div class="arrow_box mt-4 mb-4">
<pre class="p-3 prettyprint rb-code code-snippet">
.form-group {
margin-bottom: 1rem;}

label {
display: inline-block;
margin-bottom: .5rem;}

.form-control {
display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;}

button, input {
overflow: visible;}

.form-text {
display: block;
margin-top: .25rem;
color: #6c757d !important;}

.form-check {
position: relative;
display: block;
padding-left: 1.25rem;}

.form-check-label {
margin-bottom: 0;}
   </pre></div>
    </form>
    <div class="col-md-3">
    </div>
</div>

        <div class="mt-5 mb-5" id="cards">
    <h4>Cards</h4>
    <p>Briar uses <a class="underline" href="https://material.io/design/components/cards.html" target="_blank" rel="noopener">Material Design guidelines</a> for cards on Web and Android UI.</p>
</div>
    </div>
</div>

    <script src='/js/modernizr.min.js'></script>
<script src='/js/jquery-3.3.1.slim.min.js'></script>
<script src='/js/popper.min.js'></script>
<script src='/js/bootstrap.min.js'></script>

<script src="/js/index.js"></script>

  </body>
</html>
