.alert {
  border-radius: 3px !important;
  padding: 15px !important;
  margin-bottom: 25px !important;
	&-primary {
		color: $white !important;
		background-color: $primary !important;
		border-color: transparent !important;
	}
	&-secondary {
		color: $black !important;
		background-color: #f0f0f0 !important;
		border-color: transparent !important;
	}
	&-success {
		color: #3f6910 !important;
		background-color: #e5f8d1 !important;
		border-color: transparent !important;

		& hr {
			border-top-color: #1d731d;
		}

		& .alert-link {
		color: #003b00;
		}
	}
	&-warning {
		color: #786600 !important;
		background-color: #fff7c9 !important;
		border-color: transparent !important;
	}
	&-danger {
		color: #801f00 !important;
		background-color: #ffd8cc !important;
		border-color: transparent !important;

		& hr {
			border-top-color: #e15647;
		}

		& .alert-link {
		color: #880000;
		}
	}
}

// General Background

.background-primary {
  background-color: $primary;
}

.background-secondary {
  background-color: $secondary;
}

.background-warning {
  background-color: $warning;
}

.background-danger {
  background-color: $danger;
}

.background-button {
  background-color: $button;
}

.background-star {
  background-color: $star;
}

// Gray Background

.background-gray-50 {
  background-color: $gray-50;
}

.background-gray-100 {
  background-color: $gray-100;
}

.background-gray-200 {
  background-color: $gray-200;
}

.background-gray-300 {
  background-color: $gray-300;
}

.background-gray-400 {
  background-color: $gray-400;
}

.background-gray-500 {
  background-color: $gray-500;
}

.background-gray-600 {
  background-color: $gray-600;
}

.background-gray-700 {
  background-color: $gray-700;
}
.background-gray-800 {
  background-color: $gray-800;
}

.background-gray-900 {
  background-color: $gray-900;
}

.background-gray-950 {
  background-color: $gray-950;
}

// Gray Border

.border-gray-50 {
  border: 1px solid $gray-50;
}

.border-gray-100 {
  border: 1px solid $gray-100;
}

.border-gray-200 {
  border: 1px solid $gray-200;
}

.border-gray-300 {
  border: 1px solid $gray-300;
}

.border-gray-400 {
  border: 1px solid $gray-400;
}

.border-gray-500 {
  border: 1px solid $gray-500;
}

.border-gray-600 {
  border: 1px solid $gray-600;
}

.border-gray-700 {
  border: 1px solid $gray-700;
}
.border-gray-800 {
  border: 1px solid $gray-800;
}

.border-gray-900 {
  border: 1px solid $gray-900;
}

.border-gray-950 {
  border: 1px solid $gray-950;
}

// Lime Background

.background-lime-50 {
  background-color: $lime-50;
}

.background-lime-100 {
  background-color: $lime-100;
}

.background-lime-200 {
  background-color: $lime-200;
}

.background-lime-300 {
  background-color: $lime-300;
}

.background-lime-400 {
  background-color: $lime-400;
}

.background-lime-500 {
  background-color: $lime-500;
}

.background-lime-600 {
  background-color: $lime-600;
}

.background-lime-700 {
  background-color: $lime-700;
}

.background-lime-800 {
  background-color: $lime-800;
}

.background-lime-900 {
  background-color: $lime-900;
}

.background-lime-950 {
  background-color: $lime-950;
}

// Lime Border

.border-lime-50 {
  border: 1px solid $lime-50;
}

.border-lime-100 {
  border: 1px solid $lime-100;
}

.border-lime-200 {
  border: 1px solid $lime-200;
}

.border-lime-300 {
  border: 1px solid $lime-300;
}

.border-lime-400 {
  border: 1px solid $lime-400;
}

.border-lime-500 {
  border: 1px solid $lime-500;
}

.border-lime-600 {
  border: 1px solid $lime-600;
}

.border-lime-700 {
  border: 1px solid $lime-700;
}
.border-lime-800 {
  border: 1px solid $lime-800;
}

.border-lime-900 {
  border: 1px solid $lime-900;
}

.border-lime-950 {
  border: 1px solid $lime-950;
}

// Blue Background

.background-blue-50 {
  background-color: $blue-50;
}

.background-blue-100 {
  background-color: $blue-100;
}

.background-blue-200 {
  background-color: $blue-200;
}

.background-blue-300 {
  background-color: $blue-300;
}

.background-blue-400 {
  background-color: $blue-400;
}

.background-blue-500 {
  background-color: $blue-500;
}

.background-blue-600 {
  background-color: $blue-600;
}

.background-blue-700 {
  background-color: $blue-700;
}

.background-blue-800 {
  background-color: $blue-800;
}

.background-blue-900 {
  background-color: $blue-900;
}

.background-blue-950 {
  background-color: $blue-950;
}

// Blue Border

.border-blue-50 {
  border: 1px solid $blue-50;
}

.border-blue-100 {
  border: 1px solid $blue-100;
}

.border-blue-200 {
  border: 1px solid $blue-200;
}

.border-blue-300 {
  border: 1px solid $blue-300;
}

.border-blue-400 {
  border: 1px solid $blue-400;
}

.border-blue-500 {
  border: 1px solid $blue-500;
}

.border-blue-600 {
  border: 1px solid $blue-600;
}

.border-blue-700 {
  border: 1px solid $blue-700;
}
.border-blue-800 {
  border: 1px solid $blue-800;
}

.border-blue-900 {
  border: 1px solid $blue-900;
}

.border-blue-950 {
  border: 1px solid $blue-950;
}

// Night Background

.background-night-50 {
  background-color: $night-50;
}

.background-night-100 {
  background-color: $night-100;
}

.background-night-200 {
  background-color: $night-200;
}

.background-night-300 {
  background-color: $night-300;
}

.background-night-400 {
  background-color: $night-400;
}

.background-night-500 {
  background-color: $night-500;
}

.background-night-600 {
  background-color: $night-600;
}

.background-night-700 {
  background-color: $night-700;
}

.background-night-800 {
  background-color: $night-800;
}

.background-night-900 {
  background-color: $night-900;
}

.background-night-950 {
  background-color: $night-950;
}

// Night Border

.border-night-50 {
  border: 1px solid $night-50;
}

.border-night-100 {
  border: 1px solid $night-100;
}

.border-night-200 {
  border: 1px solid $night-200;
}

.border-night-300 {
  border: 1px solid $night-300;
}

.border-night-400 {
  border: 1px solid $night-400;
}

.border-night-500 {
  border: 1px solid $night-500;
}

.border-night-600 {
  border: 1px solid $night-600;
}

.border-night-700 {
  border: 1px solid $night-700;
}
.border-night-800 {
  border: 1px solid $night-800;
}

.border-night-900 {
  border: 1px solid $night-900;
}

.border-night-950 {
  border: 1px solid $night-950;
}

// Orange Background

.background-orange-50 {
  background-color: $orange-50;
}

.background-orange-100 {
  background-color: $orange-100;
}

.background-orange-200 {
  background-color: $orange-200;
}

.background-orange-300 {
  background-color: $orange-300;
}

.background-orange-400 {
  background-color: $orange-400;
}

.background-orange-500 {
  background-color: $orange-500;
}

.background-orange-600 {
  background-color: $orange-600;
}

.background-orange-700 {
  background-color: $orange-700;
}

.background-orange-800 {
  background-color: $orange-800;
}

.background-orange-900 {
  background-color: $orange-900;
}

.background-orange-950 {
  background-color: $orange-950;
}

// Orange Border

.border-orange-50 {
  border: 1px solid $orange-50;
}

.border-orange-100 {
  border: 1px solid $orange-100;
}

.border-orange-200 {
  border: 1px solid $orange-200;
}

.border-orange-300 {
  border: 1px solid $orange-300;
}

.border-orange-400 {
  border: 1px solid $orange-400;
}

.border-orange-500 {
  border: 1px solid $orange-500;
}

.border-orange-600 {
  border: 1px solid $orange-600;
}

.border-orange-700 {
  border: 1px solid $orange-700;
}
.border-orange-800 {
  border: 1px solid $orange-800;
}

.border-orange-900 {
  border: 1px solid $orange-900;
}

.border-orange-950 {
  border: 1px solid $orange-950;
}

// Red Background

.background-red-50 {
  background-color: $red-50;
}

.background-red-100 {
  background-color: $red-100;
}

.background-red-200 {
  background-color: $red-200;
}

.background-red-300 {
  background-color: $red-300;
}

.background-red-400 {
  background-color: $red-400;
}

.background-red-500 {
  background-color: $red-500;
}

.background-red-600 {
  background-color: $red-600;
}

.background-red-700 {
  background-color: $red-700;
}

.background-red-800 {
  background-color: $red-800;
}

.background-red-900 {
  background-color: $red-900;
}

.background-red-950 {
  background-color: $red-950;
}

// Red Border

.border-red-50 {
  border: 1px solid $red-50;
}

.border-red-100 {
  border: 1px solid $red-100;
}

.border-red-200 {
  border: 1px solid $red-200;
}

.border-red-300 {
  border: 1px solid $red-300;
}

.border-red-400 {
  border: 1px solid $red-400;
}

.border-red-500 {
  border: 1px solid $red-500;
}

.border-red-600 {
  border: 1px solid $red-600;
}

.border-red-700 {
  border: 1px solid $red-700;
}
.border-red-800 {
  border: 1px solid $red-800;
}

.border-red-900 {
  border: 1px solid $red-900;
}

.border-red-950 {
  border: 1px solid $red-950;
}


.color-primary {
  color: $primary
}

.color-secondary {
  color: $secondary;
}

.color-gray-2 {
  color: $gray-600;
}

.rb-code {
  font-family: 'Mono', monospace !important;
  height: auto;
}

.rb-isBold {
  font-weight: bold;
}

.font-20 {
  font-size: 20px !important;
}

.antiscroll {
  overflow: scroll !important;
  white-space: nowrap;
}

div[data-tabs] {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(6, 1fr);
}

div[data-tabs] input {
    display: none;
}

div[data-tabs] input:checked + label {
    border-top-color: $lime-700;
    border-bottom-color: #f9f9fa;
    color: $lime-700;
}
div[data-tabs] input + label {
    border: 1px solid #ededf0;
        border-top-color: rgb(237, 237, 240);
        border-top-width: 1px;
        border-bottom-color: rgb(237, 237, 240);
    border-top-width: 2px;
    padding: .5rem;
    z-index: 1;
    cursor: pointer;
}

div[data-tabs] input:checked + label + div[data-tab] {
    display: grid;
}
div[data-tabs] input + label + div[data-tab] {
    display: none;
}
div[data-tabs] div[data-tab] {
    grid-column-end: span 6;
    padding: 1rem;
    border: 1px solid #ededf0;
    margin-top: -1px;
}

.grid-2 {
    display: grid;
    grid: auto-flow/repeat(2, 1fr);
    column-gap: 12px;
}

.btn-primary {
  background-color: $lime-700 !important;
  border-color: transparent !important;
  padding: 1rem 1.5rem !important;
  font-size: 1rem;
  &:hover {
    background-color: $lime-800 !important;
    border-color: transparent !important;
  }
}

.btn-small {
  background-color: $lime-700 !important;
  border-color: transparent !important;
  padding: .08rem .4rem 0 !important;
  font-size: .8rem;
  color: $white !important;
  &:hover {
    background-color: $lime-800 !important;
    border-color: transparent !important;
    color: $white !important;
  }
}

.btn-medium {
  background-color: $lime-700 !important;
  border-color: transparent !important;
  padding: .5rem 1rem !important;
  font-size: 1rem !important;
  color: $white !important;
  &:hover {
    background-color: $lime-800 !important;
    border-color: transparent !important;
    color: $white !important;
  }
}

.btn-outline-medium {
  border-color: $lime-700 !important;
  color: $lime-700 !important;
  padding: .5rem 1rem !important;
  font-size: 1rem !important;
  background-color: transparent !important;

  &:hover {
    color: white !important;
    background-color: $lime-700 !important;
    border-color: transparent !important;
  }
}

.btn-outline-small {
  border-color: $lime-700 !important;
  color: $lime-700 !important;
  padding: .08rem .4rem 0 !important;
  font-size: .8rem;
  background-color: transparent !important;

  &:hover {
    color: white !important;
    background-color: $lime-700 !important;
    border-color: transparent !important;
  }
}

.btn-outline-primary {
  border-color: $lime-700 !important;
  color: $lime-700 !important;
  padding: 1rem 1.5rem !important;
  font-size: 1rem;

  &:hover {
    color: white !important;
    background-color: $lime-700 !important;
    border-color: transparent !important;
  }
}

.btn-link {
  color: $lime-700 !important;

  &:hover {
    color: $lime-800 !important;
  }
}

.btn-default {
  background: $lime-700;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 3px 10px !important;
  margin: 2px auto;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #fff !important;
  font-size: medium;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-delete {
  background-color: #d55c5c;
  color: #fff;
  font-size: small;
  padding: 3px 10px;
  -moz-box-sizing: border-box;
  margin: 2px auto;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: #fff;
    border-color: #d55c5c;
    color: #d55c5c;
  }
}

.btn-starred {
  color: white !important;
  background-color: orange !important;
  border-color: 1px solid orange !important;
  padding: 3px 10px !important;
  -moz-box-sizing: border-box;
  margin: 2px auto !important;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: orange !important;
    background-color: white !important;
    border-color: orange !important;
  }
}

.btn-unstar {
  color: white !important;
  background-color: #e69500 !important;
  border-color: 1px solid #e69500 !important;
  padding: 3px 10px !important;
  -moz-box-sizing: border-box;
  margin: 2px auto !important;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: #e69500 !important;
    background-color: white !important;
    border-color: #e69500 !important;
  }
}

.btn-close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  opacity: .2;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: currentColor;
  outline: none;
}

.btn-default:active, .btn-default:focus, .btn-default:hover {
  background: #fff !important;
  color: $lime-700 !important;
  border: 1px solid #7985aa !important;
}

.btn-time {
  background-color: #9e9e9e;
  color: #fff;
  font-size: small;
  padding: 3px 10px !important;
  border-radius: .25rem;
  border: none !important;
}

.badge-primary {
  background-color: $lime-700 !important;
}

.badge-secondary {
  background-color: $lime-800 !important;
}

.rb-link {
  color: $lime-700 !important;
  &:hover {
    color: $lime-800 !important;
  }
}

.rb-paginate-active {
  background-color: $lime-700 !important;
  color: white !important;

  &:hover {
    background-color: $lime-800 !important;
  }
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #f3f3f3 !important;
}

.mark, mark {
  background-color: $gray-200 !important;
  padding: .2em !important;
}

.btn-star {
  color: #d3d3d3 !important;
  background-color: transparent !important;
  padding: 0 !important;
  border: none !important;

  &:hover {
    color: orange !important;
  }
}

img {
  max-width: 100%;
}

.global {
  text-align: center !important;
}

.code-snippet, .code-snippet-2 {
	display: none;
}

.arrow_box {
  position: relative;
  background: var(--snippet-bg);
  display: none;
}

.arrow_box:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: var(--snippet-bg);
  border-width: 12px;
  margin-left: -12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dee2e6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $lime-700;
}

input:focus + .slider {
  box-shadow: 0 0 1px $lime-700;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.slider.round {
  border-radius: 18px;
}

.slider.round:before {
  border-radius: 50%;
}

.bg {
  background-color: var(--card-bg);
}

.bg-grey {
	background-color: #dee2e6 !important;
	color: #000;
}
