.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

.nav-link {
  color: $white !important;

  &:hover {
    color: $black !important;
  }
}

.navbar-wide-logo {
  padding: 2rem 0rem;
  text-align: center;
  background-color: var(--logo-bg) !important;
  background: var(--logo);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.hero-header {
  text-align: center;
  height: 320px;
  background: url("../images/header.svg");
  background-repeat: repeat;
  background-position: center;
  background-color: var(--header-bg);
  margin-left: -5%;
}

.sidebar {
  height: 100%;
  width: 12.45%;
  background-color: var(--sidebar-bg);
  position: fixed;
  top: 0;
  left: 0;

  & .list-group {
    position: fixed;
  }

  & .material-icons {
    letter-spacing: 10px;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
  }

  & .list-group-item {
    background-color: transparent !important;
    border: 0;
    border-bottom: 1px solid !important;
    border-color: var(--border) !important;
    border-radius: 0 !important;
    font-size: .875rem;
    font-weight: 600 !important;
    padding: 1rem 1.1rem !important;
  }
}

#theme_toggle {
  position: fixed;
  bottom: 10px;
  left: 5px;
}

.theme_toggle {
  border: none;
  font-weight: bold;
  color: var(--sidebar-text);
  padding: 1rem 1rem !important;
  cursor: pointer;
  background-color: var(--sidebar-bg);

  &:focus {
    outline:none;
  }
}

.list-group-item.inner-sidebar {
  background-color: var(--sidebar-inner-bg) !important;
  color: var(--sidebar-text) !important;
  padding: 1rem 0rem 1rem 3.5rem !important;

  &:hover {
    color: var(--hover) !important;
  }
}

.sidebar__link__darkGray {
  color: var(--sidebar-text) !important;

  &:hover {
    color: var(--hover) !important;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
  }

  &:active {
    color: var(--sidebar-text) !important;
  }
}

.row {
  margin: auto !important;
}

.rp-navbar__top {
  background-color: $primary;
}

.rb-contain {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.max-width-150 {
  max-width: 150px;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-18 {
  padding-top: 18px;
}

.align-horizontally {
  display: flex;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.hidden-sm {
  display: block;
}

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

.sidebar-fill {
  width: 12.45%;
}

.list-group-item:focus,
.list-group-item:hover {

	 & * {
		 color: var (--hover);
	 }
}
.list-group-item.active {
	color: var(--hover) !important;
}

.bg {
	&-primary {
		background-color: $primary !important;
	}
	&-secondary {
		background-color: $secondary !important;
	}
}

.bg-box {
  background-color: #f1f3f5 !important;
}

.b-border {
  border-bottom: 2px solid lightgrey !important;
}

.no-js-banner {
    width:100%;
    position:fixed;
    bottom:0px;
    background-color: #fff7c9;
    color: #786600;
    display: none;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
}

@media (min-width:992px) {
  .navbar {
    display: none !important;
  }
}

.bold {
  font-weight: bold;
}

.inverted {
  color: $white;
}

.f-small {
  text-transform: lowercase;
}


.colors {
  &:first-child {
    .color-overview {
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }

  &:last-child {
    .color-overview {
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:hover {
      .color-overview {
        border-bottom-left-radius: 0;
      }
    }
  }

  .color-overview {
    transition: .1s linear;
    display: flex;

    .variable {
      flex-grow: 2;
    }

    .hex {
      transition: .15s linear;
      opacity: 0;
    }
  }

  .color-details {
    display: none;
    flex-wrap: wrap;

    .color-details--section {
      flex-grow: 2;
      flex-basis: 50%;

      .pass { color: $lime-600; }
      .fail { color: $red-500; }
    }
  }

  // color-overview height + color-details height
  .color-priority {
    height: 128px;
  }

  &:hover {
    .color-overview {
      margin: 0 -8px 0 0;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      transition: .15s linear;
    }

    > .color-details {
      display: flex;
    }

    > .color-overview .variable {
      font-weight: bold;
    }
  }
}

.palette {
  &:hover {
    .color-priority {
      height: auto;
    }
    .hex {
      opacity: 1;
    }
  }
}