h1, h2, h3, h4, h5, h6 {
  font-family: $font !important;
}

h1 {
  font-size: 96px !important;
  font-weight: 300 !important;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 60px !important;
  font-weight: 300 !important;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 48px !important;
  font-weight: normal !important;
  letter-spacing: 0px;
}

h4 {
  font-size: 34px !important;
  font-weight: normal !important;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px !important;
  font-weight: normal !important;
  letter-spacing: 0px;
}

h6 {
  font-size: 20px !important;
  font-weight: medium !important;
  letter-spacing: 0.15px;
}

.subtitle {
  &-1 {
  font-size: 16px !important;
  font-weight: normal !important;
  letter-spacing: 0.15px;
  }
  &-2 {
  font-size: 14px !important;
  font-weight: medium !important;
  letter-spacing: 0.1px;
  }
}

.body {
  &-2 {
  font-size: 16px !important;
  font-weight: normal !important;
  letter-spacing: 0.5px;
  }
  &-2 {
  font-size: 14px !important;
  font-weight: normal !important;
  letter-spacing: 0.25px;
  }
}

.flexing {
  display: flex;
  align-items: center;
}

.button {
  font-size: 14px !important;
  font-weight: 500 !important;
  letter-spacing: 1.25px;
}

.caption {
  font-size: 12px !important;
  font-weight: normal !important;
  letter-spacing: 0.4px;
}

.overline {
  font-size: 10px !important;
  font-weight: normal !important;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.text-muted {
  color: var(--muted) !important;
}

.nav-link {
  color: var(--navtop-color) !important;

  &:hover {
    color: var(--navtop-hover) !important;
  }
}

.hero-header .h3 {
  color: var(--header-text);
}

.hero-header .h4 {
  color: var(--header-text);
}


.navbar-wide-logo {
  padding: 2.5rem 0rem;
  text-align: center;
  background-color: var(--logo-bg) !important;
  background: var(--logo);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.hero-header {
  text-align: center;
  height: 320px;
  background: var(--header-svg);
  background-repeat: repeat;
  background-position: center;
}

.sidebar {
  height: 100%;
  width: 16.666667%;
  background-color: var(--sidebar-bg);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow-y: auto;

  & .material-icons {
    letter-spacing: 10px;
    float: left;
  }

  & .list-group-item {
    background-color: transparent !important;
    border: 0;
    border-bottom: 1px solid !important;
    border-color: var(--border) !important;
    border-radius: 0 !important;
    font-size: .875rem;
    font-weight: 600 !important;
    padding: 1rem 1.1rem !important;
  }
}

.stick-bottom {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;

  & > .list-group-item {
    border-bottom: none !important;
  }
}

@media screen and (min-width: 1000px) and (max-height: 800px) {
  .stick-bottom {
    position: relative !important;
  }
}

.image {
  max-height: 180px;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  text-align: center;
}

.list-group-item.inner-sidebar {
  background-color: var(--sidebar-inner-bg) !important;
  color: var(--sidebar-text) !important;
  padding: 1rem 0rem 1rem 3.3rem !important;

  &:hover {
    color: var(--hover) !important;
    background-color: var(--hover-bg) !important;
  }
}

.sidebar__link__darkGray {
  color: var(--sidebar-text) !important;

  &:hover {
    color: var(--hover) !important;
    background-color: var(--bg-hover);
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
  }

  &.active {
    color: var(--black) !important;
    background-color: var(--bg-hover) !important;
  }
}

#themer {
    cursor: pointer;
}

.circles {
  border-radius: 50% !important;
  width: 55px;
  height: 55px;
}

.row {
  margin: auto !important;
}

.rp-navbar__top {
  background-color: var(--navbar-bg);
}

.rb-contain {
  height: auto;
  max-height: 100%;
}

.max-width-150 {
  max-width: 150px;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-18 {
  padding-top: 18px;
}

.align-horizontally {
  display: flex;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.hidden-sm {
  display: block;
}

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
  .hero-header {
    height: auto !important;
  }
}

.list-group-item:focus,
.list-group-item:hover {

	 & * {
		 color: var (--hover);
	 }
}
.list-group-item.active {
	color: var(--hover) !important;
	background-color: var(--sidebar-bg) !important;
}

.curved {
  border-radius: 10px;
  width: 75px;
  height: 75px;
  display: inline-block;
  vertical-align: bottom;
}

.break {
  word-break: break-all;
}

.bg {
    padding: 35px 50px;
	&-primary {
		background-color: $primary !important;
	}
	&-secondary {
		background-color: $secondary !important;
	}
}

.bg-box {
  padding: 35px 20px;
  border: 1px solid var(--box);
  background: var(--box-bg);
  box-sizing: border-box;
}

.bg-buttons {
  padding: 35px 20px;
  border: 1px solid var(--box);
  background: transparent;
  box-sizing: border-box;
}

.bg-smaller {
  padding: 60px 15px;
  border: 1px solid var(--box);
  background: var(--box-bg);
  box-sizing: border-box;
}

.bg-smallest {
  padding: 20px;
  border: 1px solid var(--box);
  background: var(--box-bg);
  box-sizing: border-box;
}

.size-36 {
  font-size: 36px !important;
}

@media (min-width:992px) {
  .navbar {
    display: none !important;
  }
}

table {
  width: 100%;
  overflow: scroll;
}

table, th, td {
  border: 1px solid $gray-700;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.overflow {
  overflow: auto;
}

span {
  display: inline-block;
}

.inverted {
  color: $white !important;
}

.f-small {
  text-transform: lowercase;
}

.color-details--section {
  color: $gray-900;
}

.color-details--section > .bold {
  color: var(--text) !important;
}

// Dropdown

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: var(--text) !important;
    text-align: left;
    list-style: none;
    background-color: var(--body) !important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: var(--sidebar-bg) !important;
}

.dropdown-item {
  color: var(--text) !important;
}

.colors {
  &:first-child {
    .color-overview {
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }

  &:last-child {
    .color-overview {
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:hover {
      .color-overview {
        border-bottom-left-radius: 0;
      }
    }
  }

  .color-overview {
    transition: .1s linear;
    display: flex;

    .variable {
      flex-grow: 2;
      color: $gray-900;
    }

    .hex {
      transition: .15s linear;
      opacity: 0;
      color: $gray-900;
    }
  }

  .color-details {
    display: none;
    flex-wrap: wrap;

    .color-details--section {
      flex-grow: 2;
      flex-basis: 50%;

      .pass { color: $lime-700; }
      .fail { color: $red-500; }
    }
  }

  // color-overview height + color-details height
  .color-priority {
    height: 128px;
  }

  &:hover {
    .color-overview {
      margin: 0 -8px 0 0;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      transition: .15s linear;
    }

    > .color-details {
      display: flex;
    }

  }
}

.palette {
  &:hover {
    .color-priority {
      height: auto;
    }
    .hex {
      opacity: 1;
    }
  }
}
