.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

.nav-link {
  color: $oc-white !important;

  &:hover {
    color: $oc-black !important;
  }
}

.sidebar {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #E5E5E5;

  // position: fixed;

  & .list-group {
    position: fixed;
    // width: 23vw;
  }

  & .list-group-item {
    background-color: transparent !important;
    border: 0;
    border-radius: 0 !important;
    font-size: 1rem;
    font-weight: 600 !important;
    padding: 1rem 1.1rem !important;
  }
}

.sidebar-wrapper {
  background-color: $oc-gray-3;
}

.list-group-item.inner-sidebar {
  background-color: hsla(0,0%,100%,.3) !important;
  color: $oc-sb !important;
  padding: 1rem 2.5rem !important;
}

.sidebar__link__darkGray {
  color: $oc-sb !important;

  &:hover {
    color: $oc-black !important;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
  }

  &:active {
    color: $oc-black !important;
  }
}

.row {
  margin: auto !important;
}

.active,
.active:hover {
background-color: #DFDFDF !important;

  & * {
    color: $oc-black !important;
  }
}

.rp-navbar__top {
  background-color: $primary;
}

.rb-contain {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.max-width-150 {
  max-width: 150px;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-18 {
  padding-top: 18px;
}

.align-horizontally {
  display: flex;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.hidden-sm {
  display: block;
}

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

.sidebar-fill {
  width: 12.45%;
}

.list-group-item:focus,
.list-group-item:hover {
  //  background-color: $oc-gray-2 !important;

	 & * {
		 color: $oc-black;
	 }
}
.list-group-item.active {
	color: $oc-black !important;
}

.bg {
	&-primary {
		background-color: $primary !important;
	}
	&-secondary {
		background-color: $secondary !important;
	}
}

.bg-box {
  background-color: #f1f3f5 !important;
}

.b-border {
  border-bottom: 2px solid lightgrey !important;
}

.no-js-banner {
    width:100%;
    position:fixed;
    bottom:0px;
    background-color: #fff7c9;
    color: #786600;
    display: none;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
}
