@import
  'vars',
  'layout',
  'visuals',
  'components',
  'state';

body {
	color: $oc-gray-9;
  font-family: $font;
	font-size: 1rem;
}

a {
  text-decoration: none !important;
  color: $primary !important;
}

a:hover {
    color: $secondary !important;
  }
