@import
  'vars',
  'layout',
  'visuals',
  'components',
  'state';

body {
	color: var(--text) !important;
  font-family: $font;
	font-size: 1rem;
  background-color: var(--body) !important;
}

a {
  text-decoration: none !important;
  color: $primary !important;
}

a:hover {
    color: $secondary !important;
  }

:root {
    --body: #{$white};
    --text: #{$gray-900};
    --logo: url("../images/wide-logo.png");
    --logo-bg: #{$white};
    --header-bg: #{$night-400};
    --sidebar-bg: #{$gray-100};
    --sidebar-inner-bg: #{$gray-50};
    --sidebar-text: #{$gray-800};
    --hover: #{$black};
    --border: #{$gray-300};
    --card-bg: #{$gray-50};
}

.dark {
    --body: #{$night-900};
    --text: #{$white};
    --logo: url("../images/logo-text-white.png");
    --logo-bg: #{$night-900};
    --header-bg: #{$night-600};
    --sidebar-bg: #{$night-800};
    --sidebar-inner-bg: #{$night-700};
    --sidebar-text: #{$gray-100};
    --hover: #{$gray-200};
    --border: #{$night-600};
    --card-bg: #{$night-800};
}
