@import
  'vars',
  'layout',
  'visuals',
  'components',
  'state';

body {
	color: $gray-900;
  font-family: $font;
	font-size: 1rem;
}

a {
  text-decoration: none !important;
  color: $primary !important;
}

a:hover {
    color: $secondary !important;
  }

:root {
    --sidebar-bg: #{$gray-100};
    --sidebar-inner-bg: #{$gray-50};
    --sidebar-text: #{$gray-800};
    --hover: #{$black};
    --border: #{$gray-300};

}

.dark {
    --sidebar-bg: #{$night-800};
    --sidebar-inner-bg: #{$night-700};
    --sidebar-text: #{$gray-100};
    --hover: #{$gray-200};
    --border: #{$gray-300};
}
