$primary: var(--primary);
$secondary: var(--secondary);
$warning: #fff7c9;
$danger: #ffd8cc;
$button: #7985aa;
$star: #ffa500;
$font: 'Inter', sans-serif !important;
$mono: "Roboto Mono" !important;

// Colors

// ━━━━ General ━━━━

$white:         #ffffff;
$black:         #000000;
$sidebar:       #5c666f;
$sb:            #4F4F4F;
$border-radius:    5px;

// Lime

$lime-list: (
      "50": #EEFBDE,
      "100": #D1F0A7,
      "200": #B4E76F,
      "300": #95DE2D,
      "400": #82C91E,
      "500": #74B816,
      "600": #67A60F,
      "700": #53830E,
      "800": #3E620C,
      "900": #283E0A,
      "950": #1C2C05
);

$lime-50: map-get($lime-list, "50");
$lime-100: map-get($lime-list, "100");
$lime-200: map-get($lime-list, "200");
$lime-300: map-get($lime-list, "300");
$lime-400: map-get($lime-list, "400");
$lime-500: map-get($lime-list, "500");
$lime-600: map-get($lime-list, "600");
$lime-700: map-get($lime-list, "700");
$lime-800: map-get($lime-list, "800");
$lime-900: map-get($lime-list, "900");
$lime-950: map-get($lime-list, "950");

// Blue

$blue-list: (
      "50": #F6FAFE,
      "100": #E4F0FB,
      "200": #B8D6F4,
      "300": #73AFEA,
      "400": #418CD8,
      "500": #1F78D1,
      "600": #1B69B6,
      "700": #17599C,
      "800": #134A81,
      "900": #0F3B66,
      "950": #0A2744
);

$blue-50: map-get($blue-list, "50");
$blue-100: map-get($blue-list, "100");
$blue-200: map-get($blue-list, "200");
$blue-300: map-get($blue-list, "300");
$blue-400: map-get($blue-list, "400");
$blue-500: map-get($blue-list, "500");
$blue-600: map-get($blue-list, "600");
$blue-700: map-get($blue-list, "700");
$blue-800: map-get($blue-list, "800");
$blue-900: map-get($blue-list, "900");
$blue-950: map-get($blue-list, "950");

// Night

$night-list: (
      "50": #EBF3FA,
      "100": #D1DAE6,
      "200": #B1BFCF,
      "300": #8A9CB3,
      "400": #657D99,
      "500": #435B77,
      "600": #374B61,
      "700": #2E3D4F,
      "800": #212D3B,
      "900": #15212D,
      "950": #0E171F
);

$night-50: map-get($night-list, "50");
$night-100: map-get($night-list, "100");
$night-200: map-get($night-list, "200");
$night-300: map-get($night-list, "300");
$night-400: map-get($night-list, "400");
$night-500: map-get($night-list, "500");
$night-600: map-get($night-list, "600");
$night-700: map-get($night-list, "700");
$night-800: map-get($night-list, "800");
$night-900: map-get($night-list, "900");
$night-950: map-get($night-list, "950");

//  Gray

$gray-list: (
        "50": #FAFAFA,
        "100": #F2F2F2,
        "200": #DFDFDF,
        "300": #CCCCCC,
        "400": #BABABA,
        "500": #A7A7A7,
        "600": #919191,
        "700": #707070,
        "800": #4F4F4F,
        "900": #2E2E2E,
        "950": #1F1F1F
);

$gray-50: map-get($gray-list, "50");
$gray-100: map-get($gray-list, "100");
$gray-200: map-get($gray-list, "200");
$gray-300: map-get($gray-list, "300");
$gray-400: map-get($gray-list, "400");
$gray-500: map-get($gray-list, "500");
$gray-600: map-get($gray-list, "600");
$gray-700: map-get($gray-list, "700");
$gray-800: map-get($gray-list, "800");
$gray-900: map-get($gray-list, "900");
$gray-950: map-get($gray-list, "950");

//  Orange

$orange-list: (
        "50": #FFFAF4,
        "100": #FFF1DE,
        "200": #FED69F,
        "300": #FDBC60,
        "400": #FCA429,
        "500": #FC9403,
        "600": #DE7E00,
        "700": #C26700,
        "800": #A35200,
        "900": #853C00,
        "950": #592800
);

$orange-50: map-get($orange-list, "50");
$orange-100: map-get($orange-list, "100");
$orange-200: map-get($orange-list, "200");
$orange-300: map-get($orange-list, "300");
$orange-400: map-get($orange-list, "400");
$orange-500: map-get($orange-list, "500");
$orange-600: map-get($orange-list, "600");
$orange-700: map-get($orange-list, "700");
$orange-800: map-get($orange-list, "800");
$orange-900: map-get($orange-list, "900");
$orange-950: map-get($orange-list, "950");

//  Red

$red-list: (
        "50": #FEF6F5,
        "100": #FBE5E1,
        "200": #F2B4A9,
        "300": #EA8271,
        "400": #E05842,
        "500": #DB3B21,
        "600": #C0341D,
        "700": #A62D19,
        "800": #8B2615,
        "900": #711E11,
        "950": #4B140B
);

$red-50: map-get($red-list, "50");
$red-100: map-get($red-list, "100");
$red-200: map-get($red-list, "200");
$red-300: map-get($red-list, "300");
$red-400: map-get($red-list, "400");
$red-500: map-get($red-list, "500");
$red-600: map-get($red-list, "600");
$red-700: map-get($red-list, "700");
$red-800: map-get($red-list, "800");
$red-900: map-get($red-list, "900");
$red-950: map-get($red-list, "950");
