$primary: var(--primary);
$secondary: var(--secondary);
$font: "Inter", sans-serif !important;
$mono: "Roboto Mono", monospace !important;

// Colors

// ━━━━ General ━━━━

$white: #ffffff;
$black: #000000;
$sidebar: #5c666f;
$sb: #4f4f4f;
$border-radius: 5px;

// Lime

$lime-list: (
  "50": #f7fee7,
  "100": #ecfccb,
  "200": #d9f99d,
  "300": #bef264,
  "400": #a3e635,
  "500": #82c91e,
  "600": #65a30d,
  "700": #4d7c0f,
  "800": #3f6212,
  "900": #365314,
  "950": #283e0f,
);

$lime-50: map-get($lime-list, "50");
$lime-100: map-get($lime-list, "100");
$lime-200: map-get($lime-list, "200");
$lime-300: map-get($lime-list, "300");
$lime-400: map-get($lime-list, "400");
$lime-500: map-get($lime-list, "500");
$lime-600: map-get($lime-list, "600");
$lime-700: map-get($lime-list, "700");
$lime-800: map-get($lime-list, "800");
$lime-900: map-get($lime-list, "900");
$lime-950: map-get($lime-list, "950");

// Blue

$blue-list: (
  "50": #eff7ff,
  "100": #ddedfe,
  "200": #bddffe,
  "300": #8bcafd,
  "400": #52adf9,
  "500": #2b8ef1,
  "600": #196fde,
  "700": #1457c5,
  "800": #1649a0,
  "900": #184080,
  "950": #123060,
);

$blue-50: map-get($blue-list, "50");
$blue-100: map-get($blue-list, "100");
$blue-200: map-get($blue-list, "200");
$blue-300: map-get($blue-list, "300");
$blue-400: map-get($blue-list, "400");
$blue-500: map-get($blue-list, "500");
$blue-600: map-get($blue-list, "600");
$blue-700: map-get($blue-list, "700");
$blue-800: map-get($blue-list, "800");
$blue-900: map-get($blue-list, "900");
$blue-950: map-get($blue-list, "950");

// Night

$night-list: (
  "50": #f8fafc,
  "100": #f1f5f9,
  "200": #e2e8f0,
  "300": #cbd5e1,
  "400": #94a3b8,
  "500": #64748b,
  "600": #475569,
  "700": #334155,
  "800": #1e293b,
  "900": #0f172a,
  "950": #0b1120,
);

$night-50: map-get($night-list, "50");
$night-100: map-get($night-list, "100");
$night-200: map-get($night-list, "200");
$night-300: map-get($night-list, "300");
$night-400: map-get($night-list, "400");
$night-500: map-get($night-list, "500");
$night-600: map-get($night-list, "600");
$night-700: map-get($night-list, "700");
$night-800: map-get($night-list, "800");
$night-900: map-get($night-list, "900");
$night-950: map-get($night-list, "950");

//  Gray

$gray-list: (
  "50": #f9fafb,
  "100": #f3f4f6,
  "200": #e5e7eb,
  "300": #d1d5db,
  "400": #9ca3af,
  "500": #6b7280,
  "600": #4b5563,
  "700": #374151,
  "800": #1f2937,
  "900": #111827,
  "950": #0d121d,
);

$gray-50: map-get($gray-list, "50");
$gray-100: map-get($gray-list, "100");
$gray-200: map-get($gray-list, "200");
$gray-300: map-get($gray-list, "300");
$gray-400: map-get($gray-list, "400");
$gray-500: map-get($gray-list, "500");
$gray-600: map-get($gray-list, "600");
$gray-700: map-get($gray-list, "700");
$gray-800: map-get($gray-list, "800");
$gray-900: map-get($gray-list, "900");
$gray-950: map-get($gray-list, "950");

//  Orange

$orange-list: (
  "50": #fffbeb,
  "100": #fef3c7,
  "200": #fde68a,
  "300": #fcd34d,
  "400": #fbbf24,
  "500": #f59e0b,
  "600": #d97706,
  "700": #b45309,
  "800": #92400e,
  "900": #78350f,
  "950": #5a280b,
);

$orange-50: map-get($orange-list, "50");
$orange-100: map-get($orange-list, "100");
$orange-200: map-get($orange-list, "200");
$orange-300: map-get($orange-list, "300");
$orange-400: map-get($orange-list, "400");
$orange-500: map-get($orange-list, "500");
$orange-600: map-get($orange-list, "600");
$orange-700: map-get($orange-list, "700");
$orange-800: map-get($orange-list, "800");
$orange-900: map-get($orange-list, "900");
$orange-950: map-get($orange-list, "950");

//  Red

$red-list: (
  "50": #fef2f2,
  "100": #fee2e2,
  "200": #fecaca,
  "300": #fca5a5,
  "400": #f87171,
  "500": #ef4444,
  "600": #dc2626,
  "700": #b91c1c,
  "800": #991b1b,
  "900": #7f1d1d,
  "950": #5f1616,
);

$red-50: map-get($red-list, "50");
$red-100: map-get($red-list, "100");
$red-200: map-get($red-list, "200");
$red-300: map-get($red-list, "300");
$red-400: map-get($red-list, "400");
$red-500: map-get($red-list, "500");
$red-600: map-get($red-list, "600");
$red-700: map-get($red-list, "700");
$red-800: map-get($red-list, "800");
$red-900: map-get($red-list, "900");
$red-950: map-get($red-list, "950");
