<nav class="navbar navbar-expand-lg navbar-light border-bottom border-black sticky-top rp-navbar__top">
  <a class="navbar-brand" href="/">
    <img src="{{ .Site.Params.logo }}"  height="40" width="auto" alt=""></img>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto display-xs">
        <li class="nav-item">
          <a class="nav-link" href="/getting-started"><i class="material-icons">navigation</i> Getting Started</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/brand"><i class="material-icons">star</i> Brand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/design/"><i class="material-icons">create</i> Design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/components/"><i class="material-icons">layers</i> Components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/writing/"><i class="material-icons">text_format</i> Writing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="dark();" href="#"><i class="material-icons">brightness_2</i> Switch Theme</a>
        </li>
      </ul>
    </div>
</nav>
