<div class="sidebar " id="sidebar1">
    <ul id="sidebar-left" class="col-sm-16 col-xs-12 p-0 list-group pt-3 sidebar-fill">

          <a href="/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar"><i class="material-icons">account_circle</i> About</li>
          </a>

          <a href="/getting-started/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar"><i class="material-icons">navigation</i> Getting Started</li>
          </a>

          <a href="/design/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar"><i class="material-icons">brush</i> Design</li>
              {{ range .Params.sidebar_design }}
                {{ range . }}
                  <!-- first index -->
                  <a href="#{{ (lower .) | anchorize }}"><li class="list-group-item rb-sidebar inner-sidebar">
                    {{ . }} <!-- second index -->
                  </li></a>
                {{ end }}
              {{ end }}
          </a>

          <a href="/components/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar"><i class="material-icons">style</i> Components</li>
              {{ range .Params.sidebar_components }}
                {{ range . }}
                  <!-- first index -->
                  <a href="#{{ (lower .) | anchorize }}"><li class="list-group-item rb-sidebar inner-sidebar">
                    {{ . }} <!-- second index -->
                  </li></a>
                {{ end }}
              {{ end }}
          </a>

          <a href="/copywriting/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar"><i class="material-icons">message</i> Copywriting</li>
              {{ range .Params.sidebar_copywriting }}
                {{ range . }}
                  <!-- first index -->
                  <a href="#{{ (lower .) | anchorize }}"><li class="list-group-item rb-sidebar inner-sidebar">
                    {{ . }} <!-- second index -->
                  </li></a>
                {{ end }}
              {{ end }}
          </a>
    </ul>
  </div>
