<div class="sidebar " id="sidebar1">
        <!-- include.sidebarClassName  -->
    <ul id="sidebar-left" class="col-md-2 col-sm-16 col-xs-12 p-0 list-group pt-3 sidebar-fill">
          <a href="/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar">About</li>
          </a>
  
          <a href="/getting-started/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar">Getting Started</li>
          </a>
  
          <a href="/visuals/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar">Visuals</li>
          </a>
  
          <a href="/components/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar">Components</li>
          </a>
  
          <a href="/copywriting/" class="sidebar__link__darkGray">
              <li class="list-group-item rb-main-sidebar">Copywriting</li>
          </a>
    </ul>
  </div>
  