{{ define "main" }}
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-4 p-0">
    <div class="row" style="height: 100%">
      <div class="col-md-6 col-sm-6 col-xs-6 p-0 display-md sidebar-fill">
        {{ partial "navbar_side.html" . }}
        <!-- sidebarClassName="rb-sidebar__1"  -->
      </div>
    </div>
  </div>
  <div class="col-md-7 col-xs-12 col-sm-12 p-0">
    <main role="main" class="content-scroll p-5" data-spy="scroll" data-target="#components-nav" data-offset="0">
      <div class="row">
        <div class="col-12 p-0">
          <div class="page-header mb-4">
            <h3>About</h3>
            <p class="text-muted">Briar is a messaging app designed for activists, journalists, and anyone else who needs a safe, easy and robust way to communicate. Unlike traditional messaging apps, Briar doesn't rely on a central server - messages are synchronized directly between the users' devices.</p>
          </div>
          <p>This guide aims to provide standards, principles and components to design consistent views related to the Briar Project. These pages are a living document and we welcome contributions, feedback and suggestions.</p>
        </p>
        <br>
        <h5>Contact</h5>
        <div class="row mt-5">
          <div class="col-md-6 p-0">
            <div class="bg-box p-5 mb-3">
              <h6>Briar</h6>
              <a class="btn btn-lg btn-link p-0" title="Briar Email" href="mailto: contact@briarproject.org" target="_blank">contact@briarproject.org</a></div>
            </div>
          </div>
        </div>
        <div class="col-12 p-0">
          <div class="page-header mb-4 mt-5">
            <h5>Identihub</h5>
            <p class="text-muted">The Briar Project brand assets are included in this Identihub project page.</p>
          </div>
          <div class="row mt-5">
            <div class="col-md-6 p-0">
              <div class="bg-box p-5 mb-3 text-left">
                <h6>Styleguide Mirror on Identihub</h6>
                <p class="m-0"></p>
                <a class="btn btn-lg btn-link p-0" href="https://demo.identihub.co/briarproject" target="_blank">Project Page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ partial "scrollspy.html" . }}
    </main>
  </div>
</div>
{{ end }}