{{ define "main" }}
<div class="row">
    <div class="col-md-2 col-sm-4 col-xs-4 p-0 display-md">
            {{ partial "navbar_side.html" . }}
    </div>
    <div class="col-md-10 col-xs-12 col-sm-12 p-0">
        <main role="main" class="content-scroll p-0" data-spy="scroll" data-target="#components-nav" data-offset="0">
            <div class="row">
                <div class="col-12 py-0 px-2">
                    <div class="hero-header">
                        <svg class="mt-5" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.0936 0C18.7911 0 16.0684 2.72267 16.0684 6.02524V13.6844H30.9109V6.02524C30.9109 2.72267 28.2213 0 24.9187 0H22.0936ZM55.116 0C51.8134 0 49.0907 2.72267 49.0907 6.02524V46.7067H63.9332V6.02524C63.9332 2.72267 61.2436 0 57.9411 0H55.116ZM16.0684 33.2933V73.9748C16.0684 77.2773 18.758 80 22.0936 80H24.9187C28.2213 80 30.944 77.2773 30.944 73.9748V33.2933H16.0684ZM49.0891 66.3156V73.9748C49.0891 77.2773 51.8134 80 55.1143 80H57.9394C61.242 80 63.9646 77.2773 63.9646 73.9748V66.3156C63.9663 66.3156 49.0891 66.3156 49.0891 66.3156Z" fill="#74B816"/>
                            <path d="M6.02524 16.0669C2.72267 16.0669 0 18.7565 0 22.0921V24.9172C0 28.2198 2.68963 30.9425 6.02524 30.9425H46.7067V16.0669H6.02524ZM66.3156 16.0669V30.9441H73.9748C77.2773 30.9441 80 28.2545 80 24.9189V22.0938C80 18.7582 77.2773 16.0685 73.9748 16.0685H66.3156V16.0669ZM6.02524 49.0892C2.72267 49.0892 0 51.7789 0 55.1145V57.9396C0 61.2421 2.68963 63.9648 6.02524 63.9648H13.6844V49.0892H6.02524ZM33.2933 49.0892V63.9665H73.9748C77.2773 63.9665 80 61.2421 80 57.9412V55.1161C80 51.7805 77.2773 49.0909 73.9748 49.0909L33.2933 49.0892Z" fill="#82C91E"/>
                        </svg>
                        <h3 class="mt-3">Briar Style Guide</h3>
                        <h4 class="pb-5">Resources, components, and design guidelines behind Briar</h4>
                    </div>
                </div>
            </div>
      </main>
            <div class="row col-8 p-0 pt-3">
                <div class="page-header mt-3 mb-4">
                    <h4>About</h4>
                    <p>Briar is a messaging app designed for activists, journalists, and anyone else who needs a safe, easy and robust way to communicate. Unlike traditional messaging apps, Briar doesn't rely on a central server - messages are synchronized directly between the users' devices.</p>
                    <p>This guide aims to provide standards, principles and components to design consistent views related to the Briar Project. These pages are a living document and we welcome contributions, feedback and suggestions.</p>
                </div>
                <div class="col-md-6 col-sm-12 mb-4">
                    <div class="circles background-gray-400">
                    </div>
                    <h6 class="pt-3 pb-3">Feature One</h6>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
                <div class="col-md-6 col-sm-12 mb-4">
                    <div class="circles background-gray-400"></div>
                    <h6 class="pt-3 pb-3">Feature Two</h6>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
                </div>
                <div class="row col-8 p-0 mt-5">
                    <div class="col-md-6 col-sm-12 p-0">
                    </div>
                    {{ partial "scrollspy.html" . }}
                </div>
    </div>

</div>
</div>
{{ end }}
