<div class="col page-header mb-4">
  <h4 id="colors">Colors</h4>
  <p>The Briar brand currently consists of 2 primary colors and one secondary color.</p>
</div>

<div class="row pt-1 p-0">
  <div class="col-md-6 col-xs-12 mb-3">
    <h5 class="pb-3">Primary</h5>
    <div class="bg-smallest">
      <div class="row no-gutters">
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-12 py-3">
              <div class="curved background-lime-500 mr-2"></div>
                <span><strong>Lime</strong><br>#74B816<br>116,184,22</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-12 py-3">
              <div class="curved background-blue-500 mr-2"></div>
              <span><strong>Blue</strong><br>#1F78D1<br>31,120,209</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <h5 class="pb-3">Secondary</h5>
    <div class="bg-smallest">
      <div class="row no-gutters">
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-12 col-sm-6 pt-3 mb-3">
              <div class="curved background-night-500 mr-2"></div>
              <span><strong>Night</strong><br>#435B77<br>46,61,79</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
