<div class="page-header mb-4">
        <h4 id="colors">Colors</h4>
        <p>The Briar brand currently consists of 2 primary colors and one secondary color.</p>
</div>

<div class="row pt-1 p-0">
         <div class="col-md-6 col-xs-12 mb-3">
           <h5 class="pb-3">Primary</h5>
           <div class="bg-smallest">
            <div class="row no-gutters">
            <div class="col-md-6 col-sm-6">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <div class="curved background-lime-500"></div>
                </div>
                <div class="col-md-6">
                <h6>Lime</h6>
                <p class="mb-0">#74B816</p>
                <p>116,184,22</p>
              </div>
            </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="row no-gutters">
              <div class="col-md-6">
            <div class="curved background-blue-500"></div>
          </div>
          <div class="col-md-6">
            <h6>Blue</h6>
            <p class="mb-0">#1F78D1</p>
            <p>31,120,209</p>
          </div>
            </div>
          </div>
          </div>
           </div>
           </div>

         <div class="col-md-6 col-xs-12">
           <h5 class="pb-3">Secondary</h5>
           <div class="bg-smallest">
            <div class="row no-gutters">
            <div class="col-md-6 col-sm-6">
            <div class="row no-gutters">
              <div class="col-md-6">
            <div class="curved background-night-500"></div>
          </div>
          <div class="col-md-6">
            <h6>Night</h6>
            <p class="mb-0">#435B77</p>
            <p>46,61,79</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
      </div>
         </div>
           </div>
         </div>
</div>