<div class="page-header mb-5 mt-5">
        <h4 id="logo">Logo</h4>
</div>

<div class="row">
<div class="col-md-6 col-sm-12 mb-3">
  <h5 class="pb-3">Composition (Horizontal)</h5>
  <div class="bg-box text-center p-5">
    <img src="/images/composition-horizontal.svg" />
  </div>
</div>
<div class="col-md-6 col-sm-12">
  <h5 class="pb-3">Composition (Vertical)</h5>
	<div class="bg-box text-center p-5">
		<img src="/images/composition-vertical.svg" />
  </div>
</div>
</div>

<div class="row my-5">
<div class="col-md-6 col-sm-12 mb-3">
  <h5 class="pb-3">Safe Space (Horizontal)</h5>
  <div class="bg-box text-center p-5">
    <img src="/images/safespace-horizontal.svg" />
  </div>
</div>
<div class="col-md-6 col-sm-12">
  <h5 class="pb-3">Safe Space (Vertical)</h5>
  <div class="bg-box text-center p-5">
    <img src="/images/safespace-vertical.svg" />
  </div>
</div>
</div>


<div id="assets" class="mb-4 mt-5">
    <h4>Download Logo Assets</h4>
</div>
<div class="row mb-5">
    <div class="col-sm-12 col-md-3 col-sm-3 mb-4">
        <div class="image flexing border p-4">
            <img class="rb-contain" src="/images/briar_horizontal_color.png" alt="Briar Horizontal color logo">
        </div>
        <p class="mb-0">Horizontal Color Light Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_horizontal_color.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_horizontal_color.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-3 col-sm-3 mb-4">
        <div class="image flexing border p-4">
            <img class="rb-contain" src="/images/briar_horizontal_black.png" alt="Briar Horizontal black logo">
        </div>
        <p class="mb-0">Horizontal Black Light Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_horizontal_black.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_horizontal_black.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-3 col-sm-3 mb-4">
        <div class="image flexing border p-4 bg-dark">
          <img class="rb-contain" src="/images/briar_horizontal_color.png" alt="Briar Horizontal color logo with light background">
        </div>
        <p class="mb-0">Horizontal Color Light Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_horizontal_color_bg.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_horizontal_color_bg.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-sm-3 mb-4">
        <div class="image flexing border p-4 bg-dark">
          <img class="rb-contain" src="/images/briar_horizontal_white.png" alt="Briar Horizontal white logo with black background">
        </div>
        <p class="mb-0">Horizontal White Black Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_horizontal_white_bg.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_horizontal_white_bg.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
    </div>
</div>

<div class="row pt-2">
    <div class="col-sm-12 col-md-3 col-sm-3">
        <div class="image border p-5">
            <img class="rb-contain" src="/images/briar_vertical_color.png" alt="Briar Vertical color logo">
        </div>
        <p class="mb-0">Vertical Color Light Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_vertical_color.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_vertical_color.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
</div>

<div class="col-sm-12 col-md-3 col-sm-3">
        <div class="image border p-5">
            <img class="rb-contain" src="/images/briar_vertical_black.png" alt="Briar Vertical black logo">
        </div>
        <p class="mb-0">Vertical Black Light Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_vertical_black.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_vertical_black.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-3 col-sm-3">
        <div class="image border p-5 bg-dark">
          <img class="rb-contain" src="/images/briar_vertical_color.png" alt="Briar Vertical color logo with light background">
        </div>
        <p class="mb-0">Vertical Color Light Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_vertical_color_bg.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_vertical_color_bg.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-sm-3">
        <div class="image border p-5 bg-dark">
          <img class="rb-contain" src="/images/briar_vertical_white.png" alt="Briar Vertical white logo with black background">
        </div>
        <p class="mb-0">Vertical White Black Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_vertical_white_bg.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_vertical_white_bg.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-sm-12 col-md-3 col-sm-3">
        <div class="image border p-5">
            <img class="rb-contain" src="/images/briar_icon_color.png" alt="Briar icon color logo">
        </div>
        <p class="mb-0">Icon Color Light Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_icon_color.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_icon_color.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
</div>

<div class="col-sm-12 col-md-3 col-sm-3">
        <div class="image border p-5">
            <img class="rb-contain" src="/images/briar_icon_black.png" alt="Briar icon black logo">
        </div>
        <p class="mb-0">Icon Black Light Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_icon_black.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_icon_black.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-3 col-sm-3">
        <div class="image border p-5 bg-dark">
          <img class="rb-contain" src="/images/briar_icon_color.png" alt="Briar icon color logo with light background">
        </div>
        <p class="mb-0">Icon Color Light Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_icon_color_bg.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_icon_color_bg.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-sm-3">
        <div class="image border p-5 bg-dark">
          <img class="rb-contain" src="/images/briar_icon_white.png" alt="Briar icon white logo with black background">
        </div>
        <p class="mb-0">Icon White Black Background</p>
        <div class="dropdown mb-5">
                  <button class="button btn btn-default-dropdown dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a class="dropdown-item" href="/images/briar_icon_white_bg.png" download><i class="fas fa-download"></i> PNG</a>
                   <a class="dropdown-item" href="/images/briar_icon_white_bg.svg" download><i class="fas fa-download"></i> SVG</a>
                  </div>
        </div>
    </div>
</div>