<div class="page-header mb-5 mt-5">
        <h4 id="logo">Logo</h4>
</div>

<div class="row">
<div class="col-md-6 col-sm-12">
  <h5 class="pb-3">Composition (Horizontal)</h5>
  <div class="bg-box text-center p-5">
    <img src="/images/composition-horizontal.svg" />
  </div>
</div>
<div class="col-md-6 col-sm-12">
  <h5 class="pb-3">Composition (Vertical)</h5>
	<div class="bg-box text-center p-5">
		<img src="/images/composition-vertical.svg" />
  </div>
</div>
</div>

<div class="row my-5">
<div class="col-md-6 col-sm-12">
  <h5 class="pb-3">Safe Space (Horizontal)</h5>
  <div class="bg-box text-center p-5">
    <img src="/images/safespace-horizontal.svg" />
  </div>
</div>
<div class="col-md-6 col-sm-12">
  <h5 class="pb-3">Safe Space (Vertical)</h5>
  <div class="bg-box text-center p-5">
    <img src="/images/briar-wordmark.svg" />
  </div>
</div>
</div>